[2015-07-16 06:05] piascikj opened #1 "screenshot 1"
![git-repository-provider coffee - -home-jesse-projects-imdone-stars-repos-atom - atom_046](https://cloud.githubusercontent.com/assets/233505/8716431/9c7417ba-2b56-11e5-89b9-78dc18716a47.png)

[2015-07-16 13:46] #1 closed

[2015-07-18 02:14] piascikj opened #2 "screenshot"
![imdone-atom issues - -home-jesse-projects-imdone-atom - atom_047](https://cloud.githubusercontent.com/assets/233505/8759929/bf40f3b2-2cc8-11e5-9db7-203bf8db1f74.png)

[2015-07-18 02:14] #2 closed

[2015-07-21 17:21] dimensia opened #3 "Crashes"
Awesome idea!  Unfortunately it's either crashing for me or opening up a blank text editor window.  I have a pretty large project.

[2015-07-22 15:01] piascikj commented on #3
How many files in your project?  Are there directories and/or files imdone can ignore?

[2015-07-28 18:28] piascikj opened #4 "Animated gif (Simple task drag and drop)"
![Create and move task](https://cloud.githubusercontent.com/assets/233505/8939831/6abf146a-352c-11e5-8689-96dd57d5433e.gif)

[2015-07-28 18:47] #4 closed

[2015-08-05 13:21] piascikj commented on #3
Can you send me some more details?

[2015-08-06 21:33] avdg opened #5 "Uncaught TypeError: Cannot read property 'indexOf' of undefined"
1. Open the imdone-atom pane
2. Click the list icon with numbers in front to create a new list
3. Give the list a name and press enter
4. Crash

**Atom Version**: 1.0.4
**System**: Microsoft Windows 8.1
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.9

### Stack Trace

Uncaught TypeError: Cannot read property 'indexOf' of undefined

[code]

### Commands

[code]

[2015-08-07 03:15] iansoper opened #6 "Ignoring paths"
How do you make imdone ignore paths? (bower, npm are the main culprits showing a bunch of todos that aren't related to my projects)

[2015-08-07 03:19] iansoper commented on #6
I just figured out that it is ignoring some paths, but not when my bower_components folder is in a different location than the root of the project. It would be nice to follow the "Exclude VCS ignored paths" setting in the global options.

[2015-08-07 05:21] piascikj commented on #5
I believe I've found the issue.  It's in imdone-core where it checks if the path is to .imdone/config.json.  Since you're running on windows it needs to be using a backslash \.  I'll get it patched tonight.

[2015-08-07 05:41] piascikj commented on #6
I agree, that would be nice, but in the meantime, You can ignore paths by adding to the exclude array in .imdone/config.json.  It should be in the root of your project.

[2015-08-07 07:04] srissel opened #7 "Uncaught TypeError: Cannot read property 'length' of undefined"
Steps to reproduce:
1. Added TODO-Task in a file: "// TODO: foo bar"
2. Right-clicked on this file in Atom's tree and chose "show Tasks - iMIDone"
3. New file tab "Template Issues" opened, with content
   "Loading template Issues.
   It's gonna be legen... wait for it."

**Atom Version**: 1.0.5
**System**: BTXNB40
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.

[2015-08-07 07:04] srissel opened #8 "Uncaught TypeError: Cannot read property 'exclude' of undefined"
Steps to reproduce:

1. Added TODO-Task in a file: "// TODO: foo bar"
2. Right-clicked on this file in Atom's tree and chose "show Tasks - iMIDone"
3. New file tab "Template Issues" opened, with content
"Loading template Issues.
It's gonna be legen... wait for it."

**Atom Version**: 1.0.5
**System**: BTXNB40
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.10

#

[2015-08-07 09:07] filipesilva commented on #8
Same here.

[2015-08-07 09:07] filipesilva commented on #7
Same.

[2015-08-07 10:42] jajakobyly opened #9 "Wrong source links handling in issue view"
I'm running iMDone-atom 1.1.10, Atom 1.05 on Windows 10.

In issue views, links to the source code in tasks point to wrong path. For example:
 -  When my project is located in `C:\Users\marek\foo` and TODO item is in `C:\Users\marek\foo\path\to\file.rs:143`
 -  iMDone generates following HTML task node:

[code]
 -  And after click it tries to open `C:\Users\marek\foo\Users\marek\foo\path\to\file.r

[2015-08-07 16:23] bfunkhouser opened #10 "Uncaught TypeError: Cannot read property 'push' of undefined"
### *Note: it throws this error but still appears to work.*

To Reproduce:
1. Write a comment, e.g. "#doing:20 Task in a text file like markdown" (in a .md file)
2. Save the file (throws this error)

**Atom Version**: 1.0.5
**System**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.10

### Stack Trace

Uncaught TypeError: Cannot read pr

[2015-08-07 23:08] piascikj commented on #9
@jajakobyly I think we've got this handled.  Let me know if it's working ok for you and I'll close out the ticket

[2015-08-08 12:52] jajakobyly commented on #9
iMDone 1.1.12, behaviour didn't change. I'll try to prepare simple demo

[2015-08-08 12:57] #9 closed

[2015-08-08 14:52] piascikj commented on #5
Fixed with imdone-core 1.2.2

[2015-08-08 14:52] #5 closed

[2015-08-08 14:59] piascikj commented on #10
Fixed by modifying uri with encodeURIComponent

[2015-08-08 14:59] #10 closed

[2015-08-08 15:01] piascikj commented on #7
Fixed by modifying uri with encodeURIComponent

[2015-08-08 15:01] piascikj commented on #8
Fixed by modifying uri with encodeURIComponent

[2015-08-08 15:01] #8 closed

[2015-08-08 15:36] filipesilva commented on #8
Cheers!

[2015-08-08 18:38] ja-mes opened #11 "Uncaught TypeError: Arguments to path.join must be strings"
#### Steps to reproduce

1. Open Atom.
2. Open imdone by pressing <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>p</kbd>, typing imdone and pressing enter.
3. Close the imdone tab.

**Atom Version**: 1.0.5
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.13

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

###

[2015-08-08 18:52] piascikj commented on #11
Did you have any files open?

[2015-08-08 19:55] bdsexton opened #12 "Support for Multi-Word Tokens Such as "TO DO" and "FIX ME""
It would be nice to see support for multi-word tokens such as "TO DO" and "FIX ME", whether by default or in custom lists.

[2015-08-08 20:00] bdsexton opened #13 "Support for Filters Such as "/abc" and "#abc""
It would be nice to be able to filter the items in lists, either in list settings or live, by things such as "/abc" (a common way to sign messages) and "#abc".

[2015-08-08 20:04] bdsexton commented on #3
I have seen some crashes too on a project with several thousand files. It might be nice to set the scope of interest on first launch before digging through libraries and such.

[2015-08-09 02:55] bfunkhouser commented on #10
Hooray!  Thanks!

[2015-08-09 13:16] hobofan opened #14 "Syntax help link makes atom unresponsive"
Clicking on the syntax help link in imdone window freezes atom and a "Editor is not responsive. Do you want to force close it" window pops up.

There doesn't seem to be anything special about my project. It's not very big and there were ~10 TODOs correctly loaded.

[2015-08-09 14:06] piascikj commented on #7
It seems this issue is produced when no files are open in atom.

[2015-08-09 14:19] piascikj commented on #14
The syntax help link is an external link.  This sounds like an os issue.  Do you have a default browser set up?  If you open a markdown file, do web links work?  What OS are you running?

[2015-08-09 14:22] piascikj commented on #13
Live filters are available.  Just click on the tools icon.  There you can filter with regular expression.  Another trick I've used is to have a list of filters as mentioned here... [iMDone — iMDone task filters](http://blog.imdone.io/post/108870739920/imdone-task-filters)

[2015-08-09 14:22] #13 closed

[2015-08-09 14:26] piascikj commented on #12
@bdsexton It would be nice, but complexity is my enemy here.  It does allow `-` and `_`, anything that conforms to this regex `[\w\-]+?`.  One thing worth investigating though might be to allow a custom name for a single word token.  So the list name could be "TO DO" for the token TODO.

[2015-08-09 14:30] hobofan commented on #14
Yup, you're right. Some other links in Atom also cause freezes for me, but I didn't make the connection.

[2015-08-09 14:30] #14 closed

[2015-08-09 16:54] kferran opened #15 "Uncaught TypeError: Cannot read property 'hidden' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.5
**System**: Mac OS X 10.10.4
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.15

### Stack Trace

Uncaught TypeError: Cannot read property 'hidden' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-09 22:38] ja-mes commented on #11
Yes, I did have open files, but this appears to be happening regardless.

[2015-08-10 03:26] battlemidget opened #16 "Uncaught TypeError: Cannot read property 'lists' of undefined"
[Enter steps to reproduce below:]

1. Load a project
2. Run imdone to query list of todos, fixmes

**Atom Version**: 1.0.5
**System**: Ubuntu 15.04
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.15

### Stack Trace

Uncaught TypeError: Cannot read property 'lists' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-10 04:38] piascikj commented on #15
Can you provide some details?  What was the list you were trying to show/hide called?

[2015-08-10 04:40] piascikj commented on #15
Can you give me some details?  What were you doing when you received this error?

[2015-08-10 04:57] piascikj commented on #16
Can you give me any more details?  Did .imdone/config.json get created at the root of your project?

[2015-08-10 05:27] piascikj commented on #3
@bdsexton I like that idea.  Any ideas for a user experience?

[2015-08-10 05:36] piascikj commented on #11
Can you upgrade to 1.1.16?  I made a patch that gives us more debug info when this error occurs.

[2015-08-11 11:29] ja-mes commented on #11
After upgrading to 1.1.16, I am experiencing a different error when closing imdone.

**Atom Version**: 1.0.5
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.16

### Stack Trace

Uncaught TypeError: Arguments to path.resolve must be strings

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-11 17:21] roman01la commented on #6
:+1:  `.imdoneignore` or something would be nice

[2015-08-11 17:25] roman01la commented on #3
For me Atom hangs almost on every interaction with package's functionality. Is it parsing entire project tree?

[2015-08-12 03:36] #6 closed

[2015-08-12 03:38] piascikj commented on #6
Thanks for the suggestion guys!  Just published v1.1.17 with .imdoneignore support!

[2015-08-12 03:41] piascikj commented on #3
I just added support for .imdoneignore.  Soon I will be adding a popup warning to add .imdoneignore when a project has over 1500 files.

[2015-08-12 04:34] juando opened #17 ".imdoneignore"
So how this works?
i made a ".imdoneignore" file placed in the root of wordpress then added

[code]

but nothing happened i placed it in `".imdone"` and nothing.
Am i missing something? (i updated the package btw)

i forgot to say, i don't want to see wordpress TODO's just mines.

[2015-08-12 12:54] piascikj commented on #17
.imdoneignore belongs in the root of your project.  I think the issue you're having may be syntax.

leave off the trailing /

[2015-08-12 13:56] piascikj commented on #11
Is it working for you otherwise?  It seems like the project path is getting clobbered.  I'll take a look, but in the meantime can you upgrade so I can work in master?

[2015-08-12 13:58] piascikj commented on #11
After you upgrade, please log the issue again, so I can see the stack.

[2015-08-12 15:09] ja-mes commented on #11
After upgrading, I am getting these two errors.

**Atom Version**: 1.0.6
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.18

### Stack Trace

Uncaught Error: Error getting full path for file:%s and repo path:%s

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]
<hr>

**Atom Version**: 1.0.6
**System**: Ub

[2015-08-12 19:54] piascikj commented on #11
Would you mind doing a hangout to debug this?

[2015-08-15 11:57] CodingAnarchy opened #18 "Failed to load the imdone-atom package"
[Enter steps to reproduce below:]

1. Failed upon Atom startup

**Atom Version**: 1.0.7
**System**: Mac OS X 10.10.5
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.19

### Stack Trace

Failed to load the imdone-atom package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-15 20:41] adamellsworth commented on #17
What's the correct syntax?

[code]
etc.

Could there be some examples in the readme for omitting directories and files alike?

[2015-08-16 02:10] piascikj commented on #18
Looks like you had an issue with the install.  One of the dependencies of space-pen-views is missing.  Try to uninstall and then install again

[2015-08-16 03:09] CodingAnarchy commented on #18
Ok, it looks like reinstalling the package worked.  Just to note, it did work before I updated to 1.0.7, then stopped working with the new version.  Don't know what happened there.

Thanks.  I'll go ahead and close this now that it is working.

[2015-08-16 03:09] #18 closed

[2015-08-17 13:31] piascikj commented on #17
@adamellsworth I just added some ignore help to the readme.  The first pattern won't work if you are trying to ignore everything in `public/dist`.  The last two will.

[2015-08-17 13:31] #17 closed

[2015-08-18 09:02] filipesilva commented on #8
Now I'm also getting this error when modifying the `exclude` regex in `.imdone/config.json`. Everything still works though.

[2015-08-18 09:25] malko opened #19 "Uncaught TypeError: Cannot read property 'path' of undefined"
[Enter steps to reproduce below:]

1. open atom in a project path
2. press Ctrl+Shift+T
3. then the imdone panel open and after a while the crash

**Atom Version**: 1.0.7
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.21

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of undefined

[code]

### Commands

[code]

### C

[2015-08-18 14:38] piascikj commented on #8
@filipesilva Can you open a new ticket for that one?  It would help if I had the stack trace.  As a work around for excluding files you could create an .imdoneignore file.

[2015-08-18 15:01] filipesilva commented on #8
I tried reproducing it right now, but I didn't get an error this time. I remember it was this exact error though, because it had a link to this issue. If I get it again, I'll try to gather more information.

The error just appeared once, and I restarted atom, and then the excludes worked.

[2015-08-19 21:13] #11 closed

[2015-08-19 21:13] #15 closed

[2015-08-19 21:13] #19 closed

[2015-08-20 14:26] amiuhle commented on #6
I just did `ln -s .gitignore .imdoneignore`

[2015-08-20 18:22] cmtonkinson opened #20 "Uncaught TypeError: object is not a function"
[Enter steps to reproduce below:]

1. Open imdone tab
2. Open new file
3. Save new file as `TODO.txt`

alternate:

1. Open imdone tab
2. Open `TODO.md`
3. Add a TODO
4. Save the file

**Atom Version**: 1.0.7
**System**: linux 4.1.5-1-ARCH
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.23

### Stack Trace

Uncaught TypeError: object is not a function

[code]

##

[2015-08-20 19:04] #20 closed

[2015-08-20 19:44] MarkHerhold opened #21 "Ignore node_modules"
I am not sure how to ignore node_modules in my project

my `.imdoneignore` file:
[code]

Other full-length path combinations and glob patterns do not work for me either.

[2015-08-20 19:50] piascikj commented on #21
node_modules is already ignored in .imdone/config.json and it's strange that it's not working for you.  What OS are you on?  What are the versions of atom and imdone-atom?

[2015-08-20 19:52] piascikj commented on #21
is `.imdoneignore` at the root of your project?

[2015-08-20 19:53] MarkHerhold commented on #21
OS: Ubuntu 15.04
Atom: 1.0.7 (latest)
imdone: 1.1.24

.imdoneignore is indeed in my root project. I have restarted Atom and retried already, no cigar.

[2015-08-20 19:54] piascikj commented on #3
Just implemented a failsafe for too many files today.

[2015-08-20 19:54] #3 closed

[2015-08-20 19:56] MarkHerhold commented on #21
You are correct, node_modules is "ignored" in `./imdone/config.json`
[code]

[2015-08-20 19:56] piascikj commented on #21
Can you share the repo of your project, or is it not public?

[2015-08-20 19:57] MarkHerhold commented on #21
It is not public. I can try to reproduce on another repo though.

[2015-08-20 19:57] piascikj commented on #21
Or send me a snapshot of your atom and imdone issues board.

[2015-08-20 20:05] MarkHerhold commented on #21
Ah. Figured it out.

imdone does not ignore node_modules if they reside in any directory but the root directory.
I have a project that has "sub" modules with their own package.json, node_modules, etc.

It looks like I can resolve the issue by adding the submodules' node_modules folder to the .imdoneignore file:
[code]

It would still be nice to not have to specify this for all of my submodules tho

[2015-08-20 20:11] piascikj commented on #21
I can add that, but you can also try `**/node_modules` in `.imdoneignore`

[2015-08-20 20:13] MarkHerhold commented on #21
I like `**/node_modules` better anyway, that way you don't have to come up with a way to undo the base config. Just tried it and it works.

This is really an excellent project by the way, @piascikj
Very well done. I am super impressed. :+1:

[2015-08-20 20:13] #21 closed

[2015-08-20 20:24] piascikj commented on #21
Thanks @MarkHerhold!  If you like it, star it on [the package page](https://atom.io/packages/imdone-atom) and tell your friends.  I'm working on getting it featured.  You can [read more about imdone here](http://blog.imdone.io)

[2015-08-20 20:33] MarkHerhold commented on #21
:star:'d!

[2015-08-20 20:39] piascikj commented on #21
:100:  :+1:

[2015-08-21 16:58] piascikj commented on #6
@iansoper imdone-atom now has it's own setting "Exclude VCS ignored paths".  I decided against the global setting because it's not recommended to rely on settings that aren't in your package.  Thanks for the suggestion!

[2015-08-21 17:52] iansoper commented on #6
@piascikj That's great, I'll try it out.

[2015-08-23 11:05] LukeXuan opened #22 "Uncaught TypeError: Cannot read property 'isPathIgnored' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Microsoft Windows 7 Ultimate
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.27

### Stack Trace

Uncaught TypeError: Cannot read property 'isPathIgnored' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-23 11:25] LukeXuan commented on #22
Well, that's my fault. I didn't `git init` before calling imdone.
However, I didn't find any necessity of existence of git or other VCS, since the package works only on TODOs and so on/

[2015-08-23 15:39] #22 closed

[2015-08-24 23:06] piascikj opened #23 "Latest gif"
![gifrecord_2015-08-24_175925](https://cloud.githubusercontent.com/assets/233505/9454838/d3784fb2-4a8a-11e5-8503-73bf7a2028f1.gif)

[2015-08-24 23:07] #23 closed

[2015-08-25 17:14] jmgore75 opened #24 ".imdoneignore not handling paths"
If I specify an .imdoneignore file as follows:

[code]
then everything in the `dist` directory is ignored as expected, but the `src/admin/config.js`
file's TODOs still show up in the task list.  More generally, any .imdoneignore file entry with a multipart path will not be ignored.

I am on a windows machine.  On the tasks list, the links to the files have "\" path dividers, not "/".  Is that rela

[2015-08-25 18:00] piascikj commented on #24
@jmgore75 I'll look into this tonight

[2015-08-25 18:04] jmgore75 commented on #24
FYI I can ignore files with paths by putting something like `^src\\\\admin\\\\config.js$` in `.imdone/config.json` but that seems kind of roundabout, not to mention sensitive to the filesytem you happen to be working on.

[2015-08-25 19:13] Rastem88 opened #25 "Line numbers in issues window are n*2-1 compared to actual line number in code"
It appears that the line numbers in the issues window are incrementing by 2.
![imdonebug](https://cloud.githubusercontent.com/assets/12613318/9476587/0d8e29a8-4b33-11e5-8720-91d181757a57.JPG)

[2015-08-25 19:26] piascikj commented on #25
Are you running on windows?

[2015-08-25 19:31] Rastem88 commented on #25
I am.

[2015-08-26 19:44] #25 closed

[2015-08-26 21:53] piascikj commented on #25
@Rastem88 Can you confirm this is now working correctly in imdone-atom v1.1.33?

[2015-08-26 21:53] piascikj commented on #24
@jmgore75 Can you confirm this is now working correctly in imdone-atom v1.1.33?

[2015-08-27 01:21] Rastem88 commented on #25
It is working correctly. Thanks for the quick update.

[2015-08-27 06:14] tbogard opened #26 "tasks stopped to work, I cannot drag or sort tasks"
In the most recent update, The task who once were draggable, now are not.

Windows 10 x64
Atom 1.0.7
imdone-atom 1.1.33

Please help!

[2015-08-27 12:45] piascikj commented on #26
I'll have a look today.  Is it on atom restart?  I noticed that myself.

[2015-08-27 12:52] tbogard commented on #26
seems after restarting atom it start to work, not sure why. If it freezes again I will let you know

[2015-08-28 01:14] piascikj commented on #26
@tbogard This should be fixed in 1.1.34.  Let me know if it happens again.

[2015-08-28 01:14] #26 closed

[2015-08-28 03:37] iansoper opened #27 "Export TODOs"
I would like to be able to export TODOs. Like copying to a clipboard or exporting to a certain format (markdown, html). Is this something you're considering doing?

[2015-08-28 13:28] piascikj commented on #27
I like the idea.  How would you feel about having a configurable [lodash template](https://lodash.com/docs#template)?  I could apply a deep clone of the repository in the context and provide a default template as an example.

[2015-09-01 02:52] piascikj opened #28 "Task with github issue metadata"
![gh-issue-imdone](https://cloud.githubusercontent.com/assets/233505/9595122/72542350-502a-11e5-87b3-a4eb49428b7c.png)

[2015-09-01 02:54] #28 closed

[2015-09-01 13:38] mikeleg opened #29 "SVN integration"
Is possible to integrate the plug-in with SVN?

[2015-09-01 14:13] piascikj commented on #29
In what way?

[2015-09-01 14:34] jmgore75 commented on #24
As of v1.1.37 I am still having the same problem.

[2015-09-01 15:12] piascikj commented on #24
What version of windows are you running?  I can test again later tonight.  I tested with windows 10 and it worked as expected with forward slashes.

[2015-09-01 15:13] jmgore75 commented on #24
Windows 7

On Tue, Sep 1, 2015 at 11:12 AM, Jesse Piascik <notifications@github.com>
wrote:

--
Sent from GMail

[2015-09-03 00:26] SavePointSam opened #30 "Trello Integration"
I love how this package is looking and the Atom blog post made me curious if integrating Trello would be an enhancement worth exploring. My office uses trello constantly and having it baked into Atom would be outstanding!

[2015-09-04 04:43] tbogard opened #31 "recent update ignores .imdoneignore"
Hello, after update, I'm not able to control atom, it keeps loading all the #todo from my node_modules and is a nightmare now... atom is hanged up to 100% cpu and I can't get edition back. is there a way to remove the package without running atom? thanks.

[2015-09-04 14:20] piascikj commented on #31
@tbogard That sucks!  To uninstall, just run `apm uninstall imdone-atom`.  As of 1.1.33, `.imdoneignore` should only have paths with forward slashes, and will work for both *nix/mac and windows.  I tested on windows and linux.  Are you running on a windows machine?

[2015-09-04 16:56] tbogard commented on #31
yes, on windows.
after wipping all atom I had to do a lot of extra configurations to make sure i'm getting my tasks.

for example, I detected after I created my electron app on my project folder, that the tasks immediatelly stops to work.

I assume it was looking for notes in the wrong places : in exe files, in app.asar files, etc, I didn't expected atom to behave like this. I had .imdoneignore no

[2015-09-04 17:06] piascikj commented on #31
Thanks for the feedback, but I don't think I'll be switching to that model, because it should just work out of the box.  I am willing to get it working with .imdoneignore.  imdone will not look at exe and binary files, but let's try getting this worked out.  What version of windows are you on?  What does your .imdoneignore look like?  What are the paths you want it to ignore?

[2015-09-06 17:09] tbogard commented on #31
sure:
win10 Pro x64
My ignore settings are:

* core settings
.git, .hg, .svn, .DS_Store, Thumbs.db, .codekit-cache, bower_components, node_modules

* .imdoneignore (after reading your comment)
node_modules
jquery-*
*-ia32
*-ia64
*.asar
*.exe
*.dll
*.bin
*.pak
*.dat
locales
resources
default_app

iMdone settings:
- checked Exclude vcs ignore paths
Max File prompt : 1000

now, it will be cool for th

[2015-09-10 07:54] ShMcK opened #32 "Uncaught TypeError: Cannot set property 'name' of undefined"
[Enter steps to reproduce below:]

1. Created task called "Title"
2. Deleted task called "Title"
3. Tried to add a new task called "Title"

**Atom Version**: 1.0.11
**System**: Mac OS X 10.10.5
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.37

### Stack Trace

Uncaught TypeError: Cannot set property 'name' of undefined

[code]

### Commands

[code]

### Config

[2015-09-10 13:43] piascikj commented on #32
Looks like you must have clicked the list name first, which opened the rename list dialog.  Then after opening the rename dialog, you deleted the list.  When you clicked save, the list wasn't there to rename.  I'll put in a change to listen for list deletes and close the rename dialog if it's open for a list that was just deleted.

Thanks for bringing this to my attention!

[2015-09-10 14:21] #32 closed

[2015-09-12 16:24] piascikj commented on #31
@tbogard I'm a little confused.  Is your current `.imdoneignore` now working?

[2015-09-12 17:33] tbogard commented on #31
right now it works, but I have to be careful to exclude the build folder which contains the binaries.

[2015-09-14 13:59] piascikj commented on #31
Great, so I'll close the ticket.

[2015-09-14 13:59] #31 closed

[2015-09-15 22:04] lordnynex commented on #27
:+1:

[2015-09-15 22:40] iansoper commented on #27
Oh, I didn't respond, sorry. Yes, some sort of templating system would be great. A few options out of the  box might be helpful as well.

[2015-09-15 23:15] lordnynex commented on #27
For me, in a perfect world, I could export items as github issues. I may just be dreaming though :) Also, if I could pull GH issues, this app would make my day.

[2015-09-21 15:40] piascikj commented on #30
I agree, that would be a great idea.  Unfortunately it would be a distraction for me.  Hope you find someone to build it!

[2015-09-21 15:40] #30 closed

[2015-09-21 15:41] piascikj commented on #24
Is this still giving you trouble?  If it is, can you send me your `.imdoneignore` and `.imdone/config.js`

[2015-09-22 20:42] piascikj commented on #27
@lordnynex I'm working on a plugin for that now.  Stay tuned!

[2015-09-29 13:16] wonderbeyond commented on #16
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.39

### Stack Trace

Uncaught SyntaxError: Unexpected token u

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-29 13:35] piascikj commented on #16
@wonderbeyond Can you attach your .imdone/config.json to this issue?

[2015-09-29 13:40] wonderbeyond commented on #16
@piascikj I got to know imdone in atom blog just now, unable to play well, then I disable the package and remove d .imdone dir.

I only saw "undefined" in .imdone/config.json before remove.

[2015-09-29 13:43] piascikj commented on #16
Thanks!  That helps.

[2015-09-29 13:44] wonderbeyond commented on #16
@piascikj That's good news.

[2015-09-30 05:33] playtocrazy commented on #10
Hello, I still got the same error message,
does this issue be fixed? or what should I do to fix it?
thank you.

[2015-09-30 22:05] krtek opened #33 "Dependency on imdone-core non-existing version"
Installation fails with following error:

[code]

The issue seems to be that **imdone-core** last released version is `1.2.9` but `package.json` states dependency on `1.2.23`?

[2015-10-01 02:26] piascikj commented on #33
That will teach me to push a change and then leave for the day.  I just published imdone-core 1.2.23.  The install should now work.

[2015-10-01 08:20] krtek commented on #33
Thank you!

[2015-10-01 08:20] #33 closed

[2015-10-01 14:24] piascikj commented on #16
@wonderbeyond Can you give it another shot?  I wrapped the JSON.parse in a try catch in case we get bad json.

[2015-10-01 14:59] wonderbeyond commented on #16
@piascikj, Now I get this:

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.42

### Stack Trace

Uncaught TypeError: Cannot read property 'push' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-01 15:02] wonderbeyond commented on #16
wonder@ws:~/projects/image-view@master$ cat .imdone/config.json
[code]

[2015-10-01 15:16] piascikj commented on #16
This is troubling...  [repository,js line #438](https://github.com/imdone/imdone-core/blob/master/lib/repository.js#L438) is pushing to an array that was created at construction.  Very odd.  Can you try uninstalling and reinstalling.  My only other thought is there may be something causing the repo to get destroyed in the middle of this process.

[2015-10-02 02:48] wonderbeyond commented on #16
I just quit and reopen my Atom, then no errors occurs. Thanks!

I guess maybe Atom applied serialized data from old version of package to new version, then went wrong.

[2015-10-02 17:47] enjoylife opened #34 "Todo's not recognized in .jsx files"
Title says it all. Any simple way to resolve?

[2015-10-02 23:18] piascikj commented on #34
Sure, You can add...
[code]
to `.imdone/config.json` or you could just wait a few minutes and I'll add it to languages.js. :sunglasses:

[2015-10-02 23:37] piascikj commented on #34
Done!  It's in 1.1.45.

[2015-10-02 23:57] enjoylife commented on #34
Nice, thanks for the update.

[2015-10-02 23:57] #34 closed

[2015-10-11 17:22] markvandenbrink opened #35 "Dragging around items stops working after a while"
Hi there,

I really like iMDone for Atom, but I have this strange bug. After dragging around some items to a new position (which works fine), the drag-and-drop feature stops working and I end up with just selecting the HTML text of the iMDone page when I try to "grab" an item:

![imdone](https://cloud.githubusercontent.com/assets/7869636/10417895/0975ed0e-704c-11e5-84a5-0abd1d921fa7.jpg)

I have t

[2015-10-14 08:20] Platzer opened #36 "Filter not containing"
would be nice to have negative lookahead in filter regex for hide tasks by tag, like:
`^(?:(?!\+tag).)*$` won't find `#ARCHIVE:60 test +tag` but find `#ARCHIVE:60 test +smile`

[2015-10-14 13:49] petermumford opened #37 "gitignore"
Currently when you change the priority it updates the NOTE with a number `NOTE:20`. Every time this changes Git will recognise this as a change.

How do you stop this from happening as I don't want to push this change to the repo.

[2015-10-14 14:44] piascikj commented on #37
Sorry @petermumford , this is how imdone is designed.  The intention is to keep everything in sync with the repo.

[2015-10-14 14:44] #37 closed

[2015-10-15 17:31] tony612 commented on #35
+1 for OS X 10.10.5 & Atom 1.0.19

[2015-10-19 12:45] piascikj commented on #35
@markvandenbrink @tony612 Can you reproduce and tell me when it starts to happen?

[2015-10-19 15:31] tony612 commented on #35
@piascikj Yeah, I think so. It works for the first time after I restart Atom. But then I can't drag the card any more.

[2015-10-21 06:04] #35 closed

[2015-10-21 06:06] piascikj commented on #35
@markvandenbrink @tony612 The latest patch should fix this.  Let me know if it works for you.

[2015-10-29 10:28] filjoseph1989 opened #38 "Uncaught TypeError: Cannot set property 'Sortable1446114867910' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.19
**System**: Microsoft Windows 10 Home
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.50

### Stack Trace

Uncaught TypeError: Cannot set property 'Sortable1446114867910' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-29 16:56] piascikj commented on #38
Not sure how this happened.  Can you reproduce?

[2015-11-01 03:14] onetrev commented on #16
When I click the "I Need Another List" button I still get this error unfortunately. :(

Windows 10; Atom 1.1.0.

Also it chucks me an unreported error while I am adding after I submit this.

[2015-11-01 03:16] onetrev opened #39 "Uncaught TypeError: Cannot set property 'Sortable1446347564017' of null"
1.When I click the "I Need Another List" button, type in my new list name, then click "Looks Good" I get this error.
note: it also throw me the error reported in Issue 16.
........

**Atom Version**: 1.1.0
**System**: Microsoft Windows 10 Home
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.51

### Stack Trace

Uncaught TypeError: Cannot set property 'Sortable14

[2015-11-02 03:36] #38 closed

[2015-11-02 03:38] #39 closed

[2015-11-02 13:43] Sam2304 opened #40 "imDone not picking up Tasks from todo.txt in project root directory?"
First off, thanks so much for this plugin, its awesome!

Not sure if I've managed to misconfigure something or something, but I've added a todo.txt file to my project root directory (to look after tasks that don't have a home in my code yet), but for some reason none of the tasks in there (defined using #TODO) are picked up by imdone.

I've tried making the file a code file (.js to match the rest

[2015-11-02 13:51] piascikj commented on #40
Hi Sam,  Thanks for the compliment.  Are you defining your tasks with a sort?  A task that's not in a code file should look like this...
`#TODO:1 Do something`

or like this

`[Do something](#TODO:1)`

[2015-11-02 14:14] Sam2304 commented on #40
Ah bugger.  Yup, that sorted it!  All showing up now.

Sorry I must have missed that in the Docs!

[2015-11-02 14:14] #40 closed

[2015-11-02 15:10] piascikj commented on #40
Great! :smiley_cat:

[2015-11-08 14:29] jeremytwfortune commented on #16
Also getting this `TypeError` :cry: It comes bundled with this, which I can also post, if needed.

[code]

### Reproduction

 1. Right click on repo, show tasks
 2. Open "tools baby!"
 3. Click on a list.

**Atom Version**: 1.1.0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.1.53

### Stack Trace

Uncaught TypeError: Cannot r

[2015-11-10 14:57] piascikj commented on #16
@jeremytwfortune Can you reproduce it? Does it always happen when you click on a list?

[2015-11-11 13:10] jeremytwfortune commented on #16
@piascikj, yes, it always happens when clicking on a list.

[2015-11-11 13:39] piascikj commented on #16
@jeremytwfortune I just made an update yesterday.  Can you give it a try?

[2015-11-11 16:16] jeremytwfortune commented on #16
Needed to restart Atom after the updated, but yes, that looks like it did it.

[2015-11-11 16:19] piascikj commented on #16
sweet!  Thanks for checking

On Wed, Nov 11, 2015 at 10:16 AM, Jeremy Fortune <notifications@github.com>
wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik
Expert mentor at Codementor.io
www.codementor.io/codewrangler

[2015-11-11 16:21] #16 closed

[2015-11-12 14:59] piascikj opened #41 "1.1.57 website gif"
![gifrecord_2015-11-12_085528](https://cloud.githubusercontent.com/assets/233505/11121461/9899fb14-891b-11e5-8aba-a4646f8b1428.gif)

[2015-11-12 14:59] #41 closed

[2015-11-17 16:02] piascikj opened #42 "Write docs for creating plugins"

[2015-11-17 16:04] #42 closed

[2015-11-18 15:29] Braunson opened #43 "Uncaught TypeError: Cannot read property 'removeEventListener' of null"
[Enter steps to reproduce below:]
1. Moved card on imdone tab from one column to another

**Atom Version**: 1.2.1
**System**: Microsoft Windows 8.1
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.2.0
### Stack Trace

Uncaught TypeError: Cannot read property 'removeEventListener' of null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-11-18 19:07] akaRem opened #44 "bad integration with themes."
you may have any theme: red, green, white, but these panels will retain their colors

<img width="645" alt="2015-11-18 22 03 49" src="https://cloud.githubusercontent.com/assets/1472728/11251057/92d39242-8e40-11e5-824b-2642c1311223.png">

[2015-11-18 19:07] akaRem commented on #44
looks awkward

[2015-11-18 19:27] piascikj commented on #43
I just updated sortable.js .  Maybe that will fix it.

[2015-11-18 19:57] piascikj commented on #44
what theme are you using?  And what version of imdone-atom?

[2015-11-18 20:12] akaRem commented on #44
Mostly i'm using `Atom Material` + `Atom Material`
and it looks like this:
<img width="498" alt="2015-11-18 23 08 40" src="https://cloud.githubusercontent.com/assets/1472728/11252868/7861d30c-8e49-11e5-8b9e-76d880dcbf67.png">

It would be cool if it will look like this:
<img width="657" alt="2015-11-18 23 10 05" src="https://cloud.githubusercontent.com/assets/1472728/11252890/95ce816a-8e49-11e5-8c

[2015-11-19 20:38] akaRem commented on #44
Better.

<img width="644" alt="2015-11-19 23 36 00" src="https://cloud.githubusercontent.com/assets/1472728/11283545/535180e4-8f16-11e5-80c5-11fdacb55425.png">
<img width="671" alt="2015-11-19 23 35 44" src="https://cloud.githubusercontent.com/assets/1472728/11283548/585ad018-8f16-11e5-88ac-41f1271960b2.png">

$ apm list | grep imdone
├── imdone-atom@1.2.3
 atom --version
1.2.2

[2015-11-19 20:44] akaRem commented on #44
icon doesn't match with most popular iconset:
![Uploading Снимок экрана 2015-11-19 в 23.43.14.png…]()

 $ apm list | grep icon
├── file-icons@1.6.12

[2015-11-19 20:56] akaRem commented on #44
these icons don't match too. :(

<img width="272" alt="2015-11-19 23 47 22" src="https://cloud.githubusercontent.com/assets/1472728/11283909/04393374-8f18-11e5-9893-a02f83990991.png">

<img width="323" alt="2015-11-19 23 47 48" src="https://cloud.githubusercontent.com/assets/1472728/11283902/fd7bd5be-8f17-11e5-85ff-0f3168fe1c65.png">

I think their appearance should match with icons from core UI c

[2015-11-20 01:42] jronallo opened #45 "Show due dates on task board"
For todo.txt-style todos it would be nice to display the due date on the card. This would help in sorting and prioritizing tasks.

[2015-11-20 20:29] piascikj commented on #45
It's supposed to.  Looks like a bug.  Getting it fixed up right now!

[2015-11-20 20:34] #45 closed

[2015-11-24 11:44] samirfor opened #46 "Keybinding conflict"
Hello,

I do not know if this is an issue but the <kbd>Ctrl</kbd>-<kbd>Shift</kbd>-<kbd>T</kbd> shortcut is already used by the Atom core.

![screenshot - 24-11-2015 - 08 41 22](https://cloud.githubusercontent.com/assets/2769423/11365729/2916d882-9287-11e5-9a4c-6316e20cd4d3.png)

Would not it be better to change it?

[2015-11-24 11:57] Sam2304 commented on #46
A lot of plugins seem to conflict with one another and atom itself, my experience generally suggests its up to the user to choose which key bindings they want to use in their keymap file.  I don't tend to use the `re-open last` command much (I can always reach it using the command palette if I like), as I tend to use `ctrl+t` to jump to a file directly, even if I've just closed it.

If I decided I

[2015-11-24 12:31] samirfor commented on #46
Yes! I already done that. I'm using <kbd>Ctrl</kbd>-<kbd>Alt</kbd>-<kbd>Shift</kbd>-<kbd>T</kbd>.
I just opened this issue by find it strange to use a combination already in use.

Thanks for the quick response.

[2015-11-24 12:33] Sam2304 commented on #46
No worries, I know the feeling, roughly half the plugins I use seem to conflict with each other or Atom Core...

[2015-11-25 02:02] jronallo opened #47 "keyboard scrolling of board"
Once the board is clicked for focus it would be nice to be able to use the arrow keys to scroll around the board when it overflows horizontally and/or vertically.

[2015-11-25 05:41] #29 closed

[2015-11-28 15:10] piascikj opened #48 "implement socket server to handle opening files in configured client"

[2015-11-28 16:38] piascikj opened #49 "Add a link to open filtered files"

[2015-11-28 22:23] jronallo opened #50 "filtering tasks could show number of matches"
When you filter tasks in the tools side menu, each of the task lists could show the number of matching tasks (as well as the current number of all tasks on the list). This could be done in two possible places. First the filter match count could be included in the tools menu on the lines where visibility for a list can be triggered. It could also be that the task list headers on the board could sho

[2015-11-29 01:42] piascikj commented on #50
+1

[2015-11-29 06:09] #49 closed

[2015-11-30 15:08] piascikj opened #51 "Uncaught Error: listen EADDRINUSE :::9799"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Ubuntu 14.04.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.1

### Stack Trace

Uncaught Error: listen EADDRINUSE :::9799

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-01 01:55] piascikj opened #52 "if imdone is listening we should connect as a client and use the server as a proxy"

[2015-12-01 02:29] piascikj commented on #50
I like this idea.  If you're interested, would you like to take a stab at coding it?

[2015-12-01 02:29] #48 closed

[2015-12-01 04:41] jbjonesjr commented on #5
I'm seeing this issue now, but when trying to open the pane initially. Does it not like the project folders I have included?

[2015-12-02 14:47] jronallo opened #53 "zap feature opens more files than displayed"
The zap feature is a really great addition, but it seems to open up way more files than are actually filtered down to. I can do a search that filters down to 3 tasks, then clicking the zap button opens up at least 10 files.

[2015-12-02 14:48] jronallo commented on #50
@piascikj I would be interested in giving it a shot, but will not be free to try until the holidays.

[2015-12-02 21:27] piascikj commented on #53
I think I got this one figured out.  I'll have it fixed up in a few minutes.

On Wed, Dec 2, 2015 at 8:47 AM, Jason Ronallo <notifications@github.com>
wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik
Expert mentor at Codementor.io
www.codementor.io/codewrangler

[2015-12-02 21:29] #53 closed

[2015-12-03 21:31] claytonrcarter opened #54 "Uncaught TypeError: Cannot read property 'indexOf' of undefined"
Seems to related to trying to figure out the current project of a new/unsaved/untitled file:

1. Open a project/folder/repo in Atom
2. Open a new file (Cmd-n)
3. Issue command "IMDone Atom: Tasks" or use keys (Shift+Ctrl+t)

Switching to an existing file in the project and trying again will bring up the task list as expected.

**Atom Version**: 1.2.4
**System**: Mac OS X 10.10.2
**Thrown From**: [

[2015-12-03 21:45] piascikj commented on #51
Fixed

[2015-12-03 21:45] #51 closed

[2015-12-03 21:49] #54 closed

[2015-12-03 21:52] piascikj commented on #54
I just published the fix for this in 1.3.4.  Thanks!

[2015-12-05 16:57] Kosai106 opened #55 "Uncaught TypeError: Cannot read property 'listExists' of undefined"
1. Add TODO to a list
2. Change the name of said list
3. It also appears that said error caused the TODO's on the list to get removed, and adding new ones to it, removes them as well.

**Atom Version**: 1.2.4
**System**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.4
### Stack Trace

Uncaught TypeError: Cannot read property 'listExist

[2015-12-07 22:09] Braunson opened #56 "Uncaught ReferenceError: item is not defined"
[Enter steps to reproduce below:]

1. Nothing, error just appeared.

**Atom Version**: 1.2.4
**System**: Microsoft Windows 8.1
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.4

### Stack Trace

Uncaught ReferenceError: item is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-09 04:18] piascikj commented on #47
@jronallo This should be fixed, but you'll have to tab past the menu buttons.

[2015-12-09 14:11] jronallo commented on #47
@piascikj That's a definite improvement for me.

[2015-12-11 20:38] jronallo opened #57 "unable to drag tasks around"
This might be related to updating to Atom 1.3.1.

[2015-12-12 21:19] rwatts3 opened #58 "Failed to activate the imdone-atom package"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.3.1
**System**: Mac OS X 10.11.2
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.11
### Stack Trace

Failed to activate the imdone-atom package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-12-14 14:20] piascikj commented on #57
Have you been able to reproduce this?

[2015-12-14 14:21] #44 closed

[2015-12-14 14:23] jronallo commented on #57
No. Just now, but after the most recent update, I was able to drag tasks around.

[2015-12-14 14:23] #57 closed

[2015-12-14 23:38] AdamSkaidon opened #59 "Uncaught Error: Repository has been destroyed"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.3.1
**System**: Mac OS X 10.11.2
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.12
### Stack Trace

Uncaught Error: Repository has been destroyed

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-12-17 21:54] benfunkhouser opened #60 "Meta links not displaying"
Hi,

I like the meta feature (http://blog.imdone.io/post/111622263565/imdone-is-meta) but for some reason when I try using it everything works except for the link... no errors are thrown, the link icon just isn't displayed:

![image](https://cloud.githubusercontent.com/assets/8867474/11883152/b94363d0-a4c5-11e5-9b83-1c85462eabeb.png)

Thanks!

[2015-12-17 23:58] piascikj commented on #60
Do you have it configured in .imdone/config.json?

[2015-12-18 11:04] nblackburn commented on #12
I am not sure this really conforms to standard practices but can see the appeal in having such a feature.

[2015-12-18 13:00] #47 closed

[2015-12-18 17:33] benfunkhouser commented on #60
Yes - I'm actually just trying to use the meta descriptors that you have included by default.  In this case I'm trying to use the user to construct the github link:

Here is the meta json from the .imdone/config.json
"meta": {
    "user": {
      "urlTemplate": "https://github.com/%s",
      "titleTemplate": "github profile for %s"
    },
    "issue": {
      "urlTemplate": "https://github.com/imd

[2015-12-18 18:14] piascikj commented on #60
I can't seem to reproduce it.  Can you post your full config.js file?

[2015-12-19 02:28] benfunkhouser commented on #60
Hmm... it could be an odd Windows-related bug.  I am using the default config.json file (haven't edited it)

[2015-12-19 02:28] benfunkhouser commented on #60
{
  "exclude": [
    "^(node_modules|bower_components|\\.imdone|target|build|dist|logs)[\\/\\\\]?|\\.(git|svn|hg|npmignore)|\\~$|\\.(jpg|png|gif|swp|ttf|otf)$"
  ],
  "watcher": true,
  "code": {
    "include_lists": [
      "TODO",
      "DOING",
      "DONE",
      "PLANNING",
      "FIXME",
      "ARCHIVE",
      "HACK",
      "CHANGED",
      "XXX",
      "IDEA",
      "NOTE",
      "REVIEW"

[2015-12-19 02:29] benfunkhouser commented on #60
![image](https://cloud.githubusercontent.com/assets/8867474/11910803/3d4d7d38-a5b5-11e5-873c-4828439f2a53.png)

[2015-12-20 15:17] piascikj commented on #60
Are you editing the correct .imdone/config.json?  The one you should edit is in [Your project folder] > .imdone > config.json

[2015-12-21 18:10] zachphillips opened #61 "Imdone Atom: Tasks does nothing at all"
I've tried leaving the TODOs in every syntax documented.

The .imdone config is all in the same directory of markdown, fountain, and txt files, all default.

No window opens.

[2015-12-21 19:53] benfunkhouser commented on #60
Oh, you're right.  I can't believe I missed that!  It works great now that I'm editing the right json file :)  Thanks again for your work on this package.

[2015-12-21 19:53] #60 closed

[2015-12-23 19:15] arjendk commented on #61
Same here... Atom 1.3.1 on Linux. Ctrl-shift-T shows imdone-atom:tasks in the keybinding resolver but nothing happens. I can't find a command through the command palette.

[2015-12-24 00:13] piascikj commented on #61
imdone-atom opens in the context of a project.  Do you have a project open?

[2015-12-24 08:14] DiaaFares commented on #61
@piascikj I'm trying to add TODOs in all available syntax but its not working for me!

[2015-12-24 14:22] zachphillips commented on #61
Jesse, I do have a project open. You are talking in the context of the project-manager package?

I have a project with one folder and lots of files with TODOs in them. Nothing.

[2015-12-24 17:32] piascikj commented on #61
@zachphillips Yes, they are one in the same.  Have you tried the project folder context menu > imdone- Show Tasks?

[2015-12-24 18:02] zachphillips commented on #61
Okay, that worked… So what exactly is going on? You just can’t use command palette the first time you run it?

[2015-12-24 19:44] zachphillips commented on #61
Ah, and the only way to update it still is to close it and reopen it from the contextual menu. It doesn’t update live.

Could it have to do with another package I have installed? The only other one I feel like could be affecting it is the nvAtom package, but I tried disabling it and nothing changed.

[2015-12-24 21:36] piascikj commented on #61
@zachphillips Not sure what's going on.  I wasn't able to reproduce it.  What OS are you on?

[2015-12-24 22:39] zachphillips commented on #61
El Capitan 10.11.2.

Here’s a video where you can see the issue in action: http://d.pr/v/1dOgf

If I manually give it a search order assignment, it will show up once I interact with the board. If I don’t give it an assignment, it will never show up, even if I activate imdone manually from contextual menu or command palette, as you can see there.

Either way, whether I assign an order or not, nothi

[2015-12-26 20:34] piascikj commented on #61
@zachphillips Thanks for the video.  Nice to see you use droplr too!  From what I can tell in the video, the tasks aren't showing because the [hash style](https://github.com/imdone/imdone-core#hash-style) and [markdown style](https://github.com/imdone/imdone-core#markdown-style) require a sort number.  That doesn't explain the lack of update after saving the file, but it could have been in the pro

[2015-12-26 21:07] piascikj commented on #61
@zachphillips , I'd be willing to troubleshoot further in a hangout.  Let me know your availability via email if you're interested.

[2015-12-27 06:43] DiaaFares commented on #61
@piascikj I'm trying to add TODOs in all available syntax but its not working for me!

[2015-12-27 14:45] piascikj commented on #61
@DiaaFares Can you post some examples?  IncludeTODO's and file names.

[2015-12-27 15:37] zachphillips commented on #61
That would be tremendous Jesse, thanks!

My email is z@zach.be. Not sure where to find yours or I'd have reached out directly there.

Zach

On Dec 26, 2015, 4:07 PM -0500, Jesse Piascik<notifications@github.com>, wrote:

[2015-12-27 16:08] DiaaFares commented on #61
@piascikj I don't know what kind of examples you want, but I will try to explain:
I open new project then I create new file or open any existing file, I try to add TODOs with all available syntax
[code]

 but nothing happen! I didn't find any of these TODOs in the imdone page!

[2015-12-27 18:16] piascikj commented on #61
@DiaaFares What is the file extension of the file these tasks are in?

[2015-12-27 18:38] DiaaFares commented on #61
@piascikj php

[2015-12-28 20:13] piascikj commented on #61
@DiaaFares and what os are you using?

[2016-01-06 03:09] MarkRobbins commented on #61
These issues sound similar to mine - no auto-refresh of board on file save and not being able to activate/launch except from a 'system' tab (cannot ctrl-shift-t from editor). I am on windows 7 and available for debugging if you wish.

[2016-01-06 17:12] piascikj commented on #61
The trouble seems to be with the file listener package I'm using.  It's not getting compiled correctly on some systems.  I'll be working on a fix over the next few days that will use the file listener support in atom.

[2016-01-06 21:15] #52 closed

[2016-01-06 21:16] piascikj commented on #46
I'll be changing the binding to Alt-T in the next release.

[2016-01-06 21:16] #24 closed

[2016-01-08 16:38] sherwoodinc opened #63 "Support muticolumn view for each category in task board"
Right now, the task board layout shows each category of TODOs in a single column of items. This is a waste of screen in big widescreen setups and makes the user scroll back and forth a lot in order to view all the tasks.
Also, dragging tasks between categories requires seeing the header (or at least one of the tasks from the target category), so it would be goo to minimize scrolling.

It'd be nice

[2016-01-10 12:03] arpo opened #64 "Uncaught TypeError: Cannot read property 'getDigestSync' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.3
**System**: Mac OS X 10.11.2
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.17

### Stack Trace

Uncaught TypeError: Cannot read property 'getDigestSync' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-10 14:18] #64 closed

[2016-01-10 16:38] jronallo opened #65 "unable to install 1.3.18"
Atom 1.3.2 and 1.3.3 on Xubuntu 15.10.

Here's the output:

make: Entering directory '/tmp/apm-install-dir-116010-5697-egeeus/node_modules/imdone-atom/node_modules/pathwatcher/node_modules/runas/build'
  CXX(target) Release/obj.target/runas/src/main.o
runas.target.mk:90: recipe for target 'Release/obj.target/runas/src/main.o' failed
make: Leaving directory '/tmp/apm-install-dir-116010-5697-egeeus/

[2016-01-10 16:56] jronallo commented on #65
I get the same error when running: `apm install imdone-atom@1.3.17` so it seems as if the issue was introduced with that version.

If anyone else has this issue you can install an older version with:
`apm install imdone-atom@1.3.16` which is currently the last version that works for me.

[2016-01-10 17:26] iev6 opened #66 "installation of 1.3.18 fails on Windows"
npm install error - MSB3428: Could not load the Visual C++ component “VCBuild.exe”

[2016-01-10 18:28] jronallo commented on #66
@iev6 Is there any other output that you can share? Can you provide the full error message that Atom shows? I'm wondering if this is in any way related to #65 or not.

[2016-01-10 18:29] iev6 commented on #66
Enclosed below is the log :

[code]

[2016-01-10 18:44] iev6 commented on #66
This is a node.js error that appears in Windows. Only workaround seems to be reinstalling VC++ libraries.

[2016-01-10 22:18] piascikj commented on #65
I was afraid this might happen.  Strange thing is.  The library in question "pathwatcher" is an atom project library.  I implemented it for file watching over chokidar because chokidar was causing problems for some.  I have one more alternative to try, and it doesn't require an ndoe-gyp build.  I should have it up and running by tomorrow.

[2016-01-11 14:20] #65 closed

[2016-01-11 14:21] piascikj commented on #66
Should be fixed with 1.3.19

[2016-01-11 14:21] #66 closed

[2016-01-11 14:39] jronallo commented on #65
I was able to upgrade to 1.3.19.

[2016-01-11 15:17] piascikj commented on #65
@jronallo That's great!  How is it working for you?

[2016-01-11 15:20] jronallo commented on #65
@piascikj So far, so good. Thanks.

[2016-01-11 19:23] igoldin2u opened #68 "Optionally hide tasks that have been completed"
If a task has a completed date in todo.txt syntax (e.g., `x 2015-02-09`), either hide these tasks by default, or give them a separate (bottom of screen) sort order.

[2016-01-12 15:14] Off76 opened #69 "Uncaught Error: EBUSY: resource busy or locked, read"
Hi,

I have some problems with your plugin, it keep crashing atom when I try to access to the todo page ( using alt+t )

Here is the report.

**Atom Version**: 1.3.3
**System**: Windows 7 64
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.19

### Stack Trace

Uncaught Error: EBUSY: resource busy or locked, read

[code]

### Commands

[code]

### Config

[code]

[2016-01-12 15:42] sherwoodinc commented on #63
I'd like to try and hack at least an automatic layout based on how many categories are visible. Could you direct me at what code parts I should look at?

[2016-01-14 00:19] piascikj commented on #63
[imdone-atom/lib/imdone-atom-view.coffee at master · imdone/imdone-atom](https://github.com/imdone/imdone-atom/blob/master/lib/imdone-atom-view.coffee)

[2016-01-14 00:28] #61 closed

[2016-01-14 00:52] jronallo opened #70 "PDFs now showing up in 1.3.20"
After updating to 1.3.20 and restarting I'm now seeing some new task columns that are filled only with PDFs. I did not change my .imdone/config.json file.

[2016-01-14 01:56] piascikj commented on #70
Do you have an example?
On Jan 13, 2016 6:52 PM, "Jason Ronallo" <notifications@github.com> wrote:

[2016-01-14 02:01] jronallo commented on #70
Columns and tasks like these were not showing up before.

![screenshot_2016-01-13_21-00-05](https://cloud.githubusercontent.com/assets/66485/12313792/b5ad825e-ba38-11e5-85e0-b9934dfb3c43.png)

[2016-01-14 05:45] piascikj commented on #70
When you click on the line in the file, does it look like a task?

[2016-01-14 13:32] jronallo commented on #70
No, it just looks like more UTF8 replacement characters, but maybe you'll see something I don't.

![screenshot_2016-01-14_08-31-33](https://cloud.githubusercontent.com/assets/66485/12325582/3bf4b3b8-ba99-11e5-8d9b-db55226c2868.png)

[2016-01-14 14:21] jronallo commented on #70
Adding pdf to "exclude" in .imdone/config.json resolves this, but I'm not sure why they were showing up now but hadn't been before.

[2016-01-14 15:16] piascikj commented on #70
I just updated imdone-core with better binary checking.  It's now catching pdfs.  I'm not sure what happened, but now it's fixed up and will be in imdone-atom 1.3.21 in  just a minute.

[2016-01-14 15:19] #70 closed

[2016-01-14 15:22] piascikj commented on #69
I put a try/catch in the digest check, so this should work now.  I'm not sure what the cause is though.  It seems like there's a file locked for read.  If you run into any more issues related to this I can walk you through a debug session to see what's going on.

[2016-01-14 18:04] piascikj commented on #59
Are you still getting this error?

[2016-01-14 18:05] piascikj commented on #58
Are you still getting this error?

[2016-01-14 18:05] piascikj commented on #56
Are you still getting this error?

[2016-01-14 18:06] piascikj commented on #55
Are you still getting this error?

[2016-01-14 18:08] piascikj commented on #43
Are you still getting this error?

[2016-01-14 18:55] jronallo opened #71 "Saving a file with lots of tasks makes Atom unresponsive"
I will sometimes have a single file that includes very many tasks/todos. In one file I have ~70 tasks listed. Before recent changes I could open and save this file without issue. Now when I make any change to this file Atom becomes unresponsive for a few seconds sometimes to the point of suggesting the application be closed. I believe this only surfaced in the past few days if not today. Files wit

[2016-01-14 18:57] jronallo opened #72 "Updating to imdone-atom@1.3.21 fails"
I get prompted to update to 1.3.21, but get the following output in Atom:

[code]

The npm-debug.log file does not exist.

[2016-01-14 19:02] jronallo commented on #71
Another data point. Moving a task card that comes from a file with a lot of todos also makes Atom unresponsive, but it seems like for less time.

[2016-01-14 21:47] piascikj commented on #72
Man, I forgot t publish imdone-core.  It's there now.

[2016-01-14 21:47] #72 closed

[2016-01-14 21:50] piascikj commented on #71
How many tasks are in the file?  You can see what's happening by opening dev-tools `ctrl+shift+I` and setting `imdone_debug = true` in the console.  This will output some debug logs.

[2016-01-15 13:48] Off76 commented on #69
I have upgraded the plugin to the latest version but it keep crashing Atom when I try to access to the todo page.
Actually it freeze on loading, at the screen saying "Loading [project] Tasks. It's gonna be legen... wait for it. Found 102 files in [project] Tasks".
Then Atom is saying "Editor is not responding".

I know that there is a file deletion problem on the actual version of Atom on Windows

[2016-01-15 13:56] jronallo commented on #71
In that one file there are 70 tasks, but I think that's not really the main issue.

From what I'm seeing when you first make a change in a directory it begins watching all the files there. So something like lazily setting up file watchers, though it does this on startup as well. That's slow, but seems to be expected.

But then files I would have expected to already be watched trigger hasNewChildre

[2016-01-16 13:41] Kosai106 commented on #55
@piascikj No luckily not, thanks. I must say I really like this plugin, so it's great to have it functional again.

Another slightly annoying thing I've noticed however, which you probably can't do anything about: If I add
[code]
in a HAML file - imdone won't pick it up it seems.
My solution so far has been just adding the TODO's in an otherwise empty HTML file, or within my SCSS, but still, I fig

[2016-01-17 05:45] piascikj commented on #71
@jronallo Just want to let you know I'm working on this over the weekend.

[2016-01-18 19:41] piascikj commented on #71
@jronallo I made some changes to the file watching code, but I think the real issue is the number of files in the directory of the changed file.  Let me know how the update works.  I'm still working on this one though.  I want to reduce the redundancy as much as possible.

[2016-01-19 21:02] pascalchevrel opened #73 "Uncaught TypeError: Cannot read property 'getPath' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.5.0-beta0
**System**: Ubuntu 15.10
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.23

### Stack Trace

Uncaught TypeError: Cannot read property 'getPath' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-20 15:53] piascikj commented on #71
@jronallo How is this working for you now?

[2016-01-20 18:03] #73 closed

[2016-01-22 13:19] nesukun commented on #18
I know this issue is resolved but just so you know this failed upgrade is happening to more people. A couple of colleagues and me have experienced this, reinstalling worked tho.

[2016-01-22 19:32] piascikj commented on #18
@nesukun Is it the same cause for everyone?

[2016-01-25 16:00] jronallo commented on #71
I'm still experiencing some slowness and UI locking when saving a file. I know this is probably because I have so many files, but it is making my use case unworkable. Previous versions of the file watching I did not have any issues.

[2016-01-25 16:10] piascikj commented on #71
I had problems over the weekend as well.  What I decided to do is go back to the previous file watcher and create a setting to use the alternate.  I'll have it released in a few minutes.

[2016-01-25 16:18] piascikj commented on #71
Just released 1.3.25 with the chokidar file watcher and the atom native alternate.  Let me know if that works for you.

[2016-01-25 19:09] jronallo commented on #71
@piascikj So far this is working well. Thank you!

[2016-01-25 19:44] piascikj commented on #71
No problem.  Sorry for the inconvenience.

[2016-01-25 19:44] #71 closed

[2016-02-02 01:25] david0178418 commented on #58
I just started getting it today.

[Enter steps to reproduce below:]

1. Start atom

**Atom Version**: 1.4.1
**System**: "Arch Linux"
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.25

### Stack Trace

Failed to activate the imdone-atom package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-02 20:40] jronallo opened #75 "document events emitted"
Is there any documentation for a plugin author to know what events they can hook into. For for https://github.com/jronallo/gfm-todotxt there are a couple events that I'm uncertain whether they're available. For instance is there an event emitted when a particular task changes rather than the whole board changing? Listening for a single task change would make plugins more performant. Also is there

[2016-02-03 18:34] piascikj commented on #75
@jronallo What your looking for is in the [imdone-core](https://github.com/imdone/imdone-core) library.  I'll document those events in the next day and update this ticket when it's ready.

[2016-02-03 18:51] jronallo commented on #75
Ah, OK. Should have known to look there. Also I need to learn not to even attempt to use the github repository search when trying to find something like this. Better to just clone and search.

[2016-02-03 23:13] Lewiscowles1986 commented on #7
Sorry @piascikj but I have files open, and it's still happening to me on win8.1

[2016-02-03 23:56] Lewiscowles1986 commented on #7
Thanks for re-opening, I had one file open

[Enter steps to reproduce below:]

1. Open Atom with file
2. press `Alt`+`T`

**Note:** it looks like launching from the settings pane at all also does this regardless of open files. I'm pretty sure if you ` || ''` (if array required then `.split()`) in js, then it will get rid of the length issue

**Atom Version**: 1.4.3
**System**: Microsoft Windows 8.

[2016-02-03 23:57] Lewiscowles1986 commented on #7
The strangeness is that it reports to be from activate power mode, when it is clearly not...

[2016-02-09 03:14] burgerzzz opened #76 "Uncaught Error: ENOENT: no such file or directory"
I'm getting this error as soon as I attempt to launch a task-board for my project, directly after a fresh install, so this hasn't worked for me at all.

**Atom Version**: 1.4.3
**System**: Mac OS X 10.11.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.25

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open '/Users/steven/Documents/Developd

[2016-02-11 17:19] iev6 opened #77 "Slow Startup"
imdone-atom crashes atom while startup.
timecop says, imdone-atom added 4606ms to startup time

[2016-02-11 17:40] piascikj commented on #77
Have you tried using .imdoneignore?

[2016-02-11 17:44] iev6 commented on #77
I only have ~10 or so files in the folder where imdone is active, all of
which are source files, so I haven't used it.

*Giridhur S *
Undergraduate Junior
Electrical Engineering
Indian Institute of Technology,Madras

On Thu, Feb 11, 2016 at 11:10 PM, Jesse Piascik <notifications@github.com>
wrote:

[2016-02-11 21:26] piascikj commented on #69
@Off76 Are you still receiving this error?

[2016-02-15 09:17] Off76 commented on #69
@piascikj No it's seems working now, thanks.

So you find why there was an error ?

[2016-02-15 12:18] piascikj commented on #69
I went back to the more tried and true file watching library and it cleared it up.  I was never able to reproduce the error.

[2016-02-15 12:18] #69 closed

[2016-02-18 13:40] #46 closed

[2016-02-24 02:56] filjoseph1989 commented on #46
Just used crtl+shift+p either,

[2016-02-27 09:47] pleonex commented on #77
The start-up time can be decreased by *requiring* the modules inside the functions instead of globally. In the case of a function is called many times, probably it's better to *require* it from the activate function to load it just one time.

[2016-03-02 05:40] ThatTomPerson opened #78 "Uncaught RangeError: Maximum call stack size exceeded"
Had a project that has "1826 files in [name] Tasks"

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.27
### Stack Trace

Uncaught RangeError: Maximum call stack size exceeded

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-03-06 21:51] zimt28 opened #79 "Items disappear"
When list names contain lowercase letters or numbers, items disappear. Dashes and underscores work.
I'm on Mac `v10.11.2`, Atom `v1.5.4`.

[2016-03-07 01:19] piascikj commented on #79
If you're try putting a # in front of your list name.  If you use a # lower case is allowed.

[2016-03-07 12:40] zimt28 commented on #79
@piascikj That seems to work, but I feel like that should happen automatically, otherwise it's not possible to move items between lists using the UI.

[2016-03-07 12:42] zimt28 commented on #79
I think I can close this as there's already an issue here: https://github.com/imdone/imdone-core/issues/30

[2016-03-07 12:42] #79 closed

[2016-03-10 09:19] shemerey commented on #59
@piascikj  I do

[2016-03-13 07:28] piascikj commented on #79
@zimt28 This is fixed in 1.3.28

[2016-03-19 14:03] xeor opened #81 "Journal-names"
<thanks>`imdone` almost hit a PERFECT hit on my current workflow. Looking very much forward to whats next!</thanks>

In the settings, it supports journal filenames based on text and one variable (`${DATE}`). Would it be, or is it in the pipeline to expand journal creations to support more advanced name-templates? Example, based on highlighed text, a popup to ask for part of the filenames, and so o

[2016-04-03 13:36] maxpower9000 opened #82 "Hash and Markdown style not recognised on atom mac"
Only the standard "// TODO" style tags are recognised in Atom on Mac.
Testing same code on my Windows 7 machine I found all styles to be found correctly.

[2016-04-03 13:42] maxpower9000 opened #83 "Extreme lag or freeze starting imdone in Atom on Mac"
Starting imdone freezes/crashes Atom most of the time on my Mac.
Project size below 200 files.
.imdoneignore is used.

This is a recurring phenomenon and renders it useless.
Same (and bigger) projects on Windows 7 machine are being displayed within <2 seconds.

I LOVE imdone! Hope to find the reason for this behaviour.

[2016-04-04 15:10] piascikj commented on #82
Can you send me a sample task that's not recognized, and the name of the file it's in?

[2016-04-04 15:12] piascikj commented on #83
This is not good.  When did it start?  What kind of files are in the folders?  Are there large files, binary files, etc?

[2016-04-07 10:05] AngelsDustz opened #84 "Exclude specific files/directory or even a custom .ignore like file/config?"
Hello,
This isn't realy a bug but more a feature request.
I would really appriciate it if you could look into a file/directory
exclude option. Because right now I am using jQuery and what not. And they have a lot of TODO's I really am not intrested in seeing.

[2016-04-09 20:18] artemruts commented on #84
Yes, this is exactly what we need, can you add this feature, please?
Maybe somethings like negation `!` operator?

So we can use `.gitignore` style:
[code]

Thank you!

[2016-04-10 09:33] maxpower9000 commented on #83
No large files. No binary. I believe it's mostly to do with the amound of files in the tree. I dialed down to max 100 files. And tried a flater tree. Then it worked. I don’t know what’s the threshold, though.

Consider it done for now, since I don’t have the time for thorough testing.

Thanks for the AWESOME package!

[2016-04-10 09:36] maxpower9000 commented on #82
Working now. Don’t know why. Can’t recreate the original issue.

[2016-04-10 09:36] #82 closed

[2016-04-11 05:46] piascikj commented on #84
Have you tried using an [`.imdoneignore`](https://github.com/imdone/imdone-atom#ignoring-files) file?

[2016-04-11 08:50] AngelsDustz commented on #84
When I first installed it it didn't show me the readme, it was after I restarted my client I saw and read the readme. So yeah...

Using the .imdoneignore and the config file in .imdone folder you can do this.

[2016-04-11 08:50] #84 closed

[2016-04-12 10:49] aoozdemir opened #85 "Board doesn't update with both normal & alternate watcher"
I've tried both. It doesn't update. I have to close the board and open it again after every change. Also Atom crashes after a while when I changed something. (while updating the board, I guess).

[2016-04-13 07:56] #83 closed

[2016-04-14 01:36] juilyoon opened #86 "Enhancement: Change font size or zoom in/out"
The font size in the **Task Board** is quite large. Although it is good for readability, I am restricted to viewing only a certain number of columns at a time because we can't zoom at all.

To be able to zoom with ```Cmd + +``` and ```Cmd + –``` would be much appreciated.

[2016-04-17 16:00] piascikj opened #87 "Add integration with imdoneio"

[2016-04-24 22:36] onetrev opened #88 "Tab with imdone Tasks does not re-open"
My tab in Atom with my imdone Tasks does not restore when I close and re-open Atom. All other tabs come back for the project that was open before I exited Atom. Anyone else have this issue? Thanks!

System Details:
Atom 1.7.2
Windows 10

[2016-04-26 16:09] piascikj commented on #85
What OS are you running on?

[2016-04-27 16:42] netrc opened #89 "Uncaught Error: EBADF: bad file descriptor, read"
[Enter steps to reproduce below:]

1. ... Saved a file.
2. ...

**Atom Version**: 1.7.2
**System**: Microsoft Windows 7 Professional
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29

### Stack Trace

Uncaught Error: EBADF: bad file descriptor, read

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-06 11:45] Giriprasaths opened #90 "Error: EBUSY: resource busy or locked, open 'C:\Users\PICCO_3\AppData\Local\Temp\shelljs_069fa2634a687e057277'"
If run the ionic serve command in the command prompt, i got the following error, so i cannot test my ionic app in the browser.

E:\mobileApp\project\wpIonicAppv1.1>ionic serve
shell.js: internal error
Error: EBUSY: resource busy or locked, open 'C:\Users\PICCO_3\AppData\Local\Temp\shelljs_069fa2634a687e057277'
    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.fs.writeFil

[2016-05-08 12:05] lordlabakdas opened #91 "custom tag creation"
is it possible to create and keep track of custom tags such as `MYTODO`? The reason am asking is my repo is from a forked base which has `TODOs` and populates my list. Adding `.imdoneignore` seems to modify the respective files.
Is there an alternate solution for this scenario?

[2016-05-09 22:30] edjroot commented on #91
I recorded a GIF to illustrate what you have to do. I hope this helps.

(Notice that I had to close and reopen the page to see the tracked files. I'm opening an issue to see if this gets fixed.)

![custom todo tag creation](https://cloud.githubusercontent.com/assets/3580075/15130038/19e21764-161c-11e6-97c9-730185cee2c0.gif)

[2016-05-09 22:36] lordlabakdas commented on #91
Works like a charm. Thank you!
I did not have to close the page. All I did was add the example comment and calls tasks from the command palette, and it appeared.

[2016-05-09 22:39] edjroot opened #92 "Automatically load task list from newly created tokens"
Maybe this is intentional, but imdone's tasks page doesn't get updated when files are changed right after I create a custom token. This GIF illustrates that: I have to close and reopen the tab to see the changes. (Edit: Another user in #91 said it's also possible to update the page by just issuing `imdone` again, but it didn't work here. I'm using Ubuntu 16.04.)

![custom todo token creation](http

[2016-05-09 22:41] edjroot commented on #91
You're welcome!

Oh, I didn't think of that. Shame on me. Anyways, I already opened the other issue, so let's see how it goes.

[2016-05-09 22:53] lordlabakdas commented on #91
Want to take this opportunity to say its a wonderful package, very helpful :)
Thank you for the package and the support

[2016-05-09 22:53] #91 closed

[2016-05-09 22:53] edjroot opened #93 "Parse multiline TODOs"
I always try to be concise, but sometimes a longer TODO comment is needed. Is there a way to show a multiline comment in the task list? This would probably require some extra symbol to tell imdone it should concatenate the lines (e.g. a backwards slash at the end of the line, as in Python), but it seems perfectly feasible anyway.

[2016-05-09 23:18] edjroot opened #94 "Show "delete" button for custom tokens even when they are being used"
Let's say I have several files with comments beginning with `EXAMPLE`. If I create a token called `EXAMPLE` in imdone and then decide to delete it, I can only do so either by manually editing `config.json` (not hard, I know) or by deleting every occurrence of "EXAMPLE" and then clicking the correspondent "delete <TOKEN>" button on the tasks tab.

The issue here is that the "delete" button is only

[2016-05-11 17:15] piascikj commented on #94
I like this.  I'm working on a major release at the moment, but plan to do a soft launch.  I can put it in after that.

[2016-05-11 17:15] piascikj commented on #93
I like this one too! :+1:

[2016-05-12 02:36] edjroot commented on #94
Great to know,  thanks!

[2016-05-18 22:24] piascikj opened #95 "Add the plugin project buttons"

[2016-05-18 22:25] #95 closed

[2016-05-18 22:25] piascikj opened #96 "Add the plugin project buttons"

[2016-05-18 22:31] #96 closed

[2016-05-19 04:54] piascikj opened #97 "As a user I would like to open my projects gtihub issues list or waffle.io board when I click the github or waffle.io button on the left side of my imdone board."

[2016-05-22 19:22] MaciejKlosowski opened #98 "Uncaught Error: EBUSY: resource busy or locked, open 'C:\Users\Emklos\ntuser.dat.LOG1'"
Hi All,
1. I installed the plugin.
2. When I tried to open tasks the following errors appeared:

**Atom Version**: 1.7.3
**System**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29
### Stack Trace

Uncaught Error: EBUSY: resource busy or locked, open 'C:\Users\Emklos\ntuser.dat.LOG1'

[code]
### Commands

[code]
### Config

[code]
###

[2016-05-24 10:16] onetrev opened #99 "Uncaught TypeError: Cannot read property 'options' of null"
STEPS TO REPRODUCE:
1. I just tried to drag and drop some items in Imdone and this happened.
2. But on reload it works fine. Maybe a one off? I can just close this issue if you think so.

**Atom Version**: 1.7.4
**System**: Microsoft Windows 10 Home
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29
### Stack Trace

Uncaught TypeError: Cannot read property 'opti

[2016-05-31 12:26] piascikj commented on #98
This happens because a file is not able to be accessed.  I'll fix the handling of the exception in the next release.  Did you intend for imdone to look at your entire home folder?  My guess is no, but if you did, do you need it to look at `ntuser.dat.LOG1`?  If not, then add an [.imdoneignore file](https://github.com/imdone/imdone-atom#ignoring-files).

[2016-05-31 12:33] piascikj commented on #92
Sorry I'm just getting back to you now, but I think this can be fixed easily, so I'll look at putting it into the next release.  I have to make sure to update the `.imdone/config` > **code.include_lists** property with your custom tag and call **repository.refresh(cb)**.  Shouldn't be too much trouble for the next release.

[2016-05-31 12:35] piascikj commented on #81
This looks like an interesting idea.  Not very urgent on the enhancement list for me though.  If you want to look at implementing this, I'd merge a pull request!

[2016-05-31 23:48] edjroot commented on #92
No worries. Thanks!

[2016-06-09 09:44] cw-intellineers opened #100 "Relative Path for Journal"
It would be great if there was a way to specify a relative path for the daily journal function. If I switch between projects I always have to manually alternative the absolute path in the settings.

[2016-06-09 12:47] piascikj commented on #100
Thanks for the post.  I just tried changing the "Todays Journal Directory" from `/home/jesse/Dropbox/notes/journal` to `journal/notes` and it worked.  What OS and version are you using?

[2016-06-09 12:50] piascikj commented on #100
My results could be from the fact that I started atom from my projects directory.  I like the idea.  So it should pick project based on the file you're in when you activate it with Alt+j?  Then default to the first project.

[2016-06-13 12:54] Gasman2014 opened #101 "Simpler way to add new doctype"

[2016-06-16 08:13] holbue commented on #85
I have the same problem. I'm running Windows 8.1

PS:  A refresh button would be a useful workaround, or also useful for people who don't want to monitor file changes for performance reasons...

[2016-06-21 17:27] piascikj opened #102 "As a user I would like to keep task priority out of task src."

[2016-06-22 14:43] piascikj opened #103 "As a user I would like to select a pricing plan and pay for imdone.io"
As a user I would like to select a pricing plan and pay for imdone.io

[2016-06-22 15:37] piascikj opened #104 "Open github issues for task"
There is an issue with opening github issues for a linked task

[2016-06-22 15:49] piascikj opened #105 "onRepoUpdate should fire conditionaly when authenticated to imdone.io, handle in imdoneio-store refresh id:6"

[2016-06-22 17:22] #87 closed

[2016-06-22 17:25] piascikj opened #106 "As a user I would like to invite other users to update my project"

[2016-06-22 17:28] piascikj opened #107 "As a user I would like to perform an integration rule when a task is synced to imdone.io"

[2016-06-22 17:32] piascikj opened #108 "As a user I would like a clean and intuitive UX on imdone.io"
Pages
----

- homepage
- pricing page
- checkout page
- account page
- login page

[2016-06-22 17:36] piascikj opened #109 "As a programmer of imdone.io I would like to add rule configuration editors with JSON schema"

[2016-06-22 17:49] piascikj opened #112 "As a user I would like to see issue labels when assigning an issue to a task"

[2016-06-22 19:54] piascikj opened #113 "As a user I would like to close an issue on github when a task linked to that issue is moved to a column I configure"

[2016-06-22 20:47] piascikj opened #114 "As a user I would like github issue labels added for imdone +tags when an imdone task is linked with a github issue"

[2016-06-22 20:54] piascikj opened #115 "As a user I would like to assign a waffle.io list name to be used for each imdone list name when a github issue is linked to an imdone task"

[2016-06-24 15:10] piascikj opened #116 "Improve error handling in the UI."

[2016-07-02 14:59] piascikj opened #117 "As user I would like to map my imdone list names to waffle.io list names."
- as default, use imdone list name but replace dashes and underscores with spaces.

[2016-07-02 15:17] piascikj opened #118 "As user I would like to move linked waffle.io cards to the assigned waffle.io list name when a card is moved in imdone that has a linked github issue."

[2016-07-02 15:26] piascikj opened #119 "As a user I would like to link to issues from any github project that is associated with my waffle.io board."

[2016-07-14 10:21] Keshar9841 commented on #90
why has this still not been answered?? I am also getting the same kind of error.

[2016-07-14 11:42] piascikj commented on #90
I assume this is under windows?  What version of windows, and what directory are you running imdone-atom from?

[2016-07-15 18:20] piascikj commented on #108
Pages
----

- homepage
- pricing page
- checkout page
- account page

[2016-07-19 14:45] kcschmi commented on #108
@piascikj : Should Jake be assigned to this user story? is this mainly what he's working on?

[2016-07-19 17:43] piascikj commented on #108
Yes!

[2016-07-30 23:54] darim1 opened #120 "Post today's journal in project folder"
I am wondering if it is possible to tweak the settings for the today's journal in order to post a new entry relative to the current project folder. Currently it seems to be only possible to specify a global location (e.g. $home/notes).

[2016-08-01 13:11] piascikj commented on #120
Sounds like a good idea.  It could use similar logic to the imdone board.

On Sat, Jul 30, 2016 at 6:54 PM, darim1 <notifications@github.com> wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik

[2016-08-02 21:01] piascikj opened #121 "Deploy imdone-atom-beta to apm"

[2016-08-04 03:34] piascikj commented on #103
User should be able to select an initial plan but also upgrade/downgrade in their profile.

[2016-08-04 04:02] piascikj opened #122 "Update changelog"

[2016-08-04 08:43] pledges commented on #90
I'm also experiencing the same problem. And yes I'm on Windows 7.

[2016-08-04 13:00] piascikj commented on #90
What is the path to the project you are opening imdone-atom on?

[2016-08-04 13:25] pledges commented on #90
I did a system reboot and problem was fix.

[2016-08-05 14:14] gamaralf opened #123 "Keywords (TODO, HACK, etc) not highlighted on Atom 1.9.0-beta2"
The keywords (TODO, HACK, etc) are not been highlighted on Atom 1.9.0-beta2

[2016-08-08 04:05] kabircse commented on #61
I am facing the same problem.

[2016-08-11 16:41] rviertel2 opened #124 "Uncaught RangeError: Array buffer allocation failed"
I have a project with 497 files and the imdone taskboard fails to load.

Atom Version: 1.9.8
System: Windows 10

Stack Trace

Uncaught RangeError: Array buffer allocation failed  fs.js:52
createBuffer @ buffer.js:66
SlowBuffer @ buffer.js:161
readFileAfterStat @ fs.js:356

Atom Config.cson

"*":
  core:
    disabledPackages: [
      "linter-gcc"
      "linter-spell-latex"
      "linter-spell"

[2016-08-11 17:07] piascikj commented on #124
Do you have a stack trace?

[2016-08-11 17:24] rviertel2 commented on #124
All i have is

Uncaught RangeError: Array buffer allocation failed fs.js:52
createBuffer @ buffer.js:66
SlowBuffer @ buffer.js:161
readFileAfterStat @ fs.js:356

from the console. How can I get the full stack trace?

[2016-08-11 19:02] piascikj commented on #124
Do you have any very large files in your project?

[2016-08-11 19:19] rviertel2 commented on #124
there is a large data file in the directory (119M), but it doesn't need to
be included in the project. I added it to .imdoneignore and the task-board
seems to be loading fine now.  Thanks!

-- Ryan Viertel

On Thu, Aug 11, 2016 at 1:02 PM, Jesse Piascik <notifications@github.com>
wrote:

[2016-08-11 19:35] piascikj commented on #124
I think it might be nice if files over a certain size are automatically skipped.  Maybe a setting.

[2016-08-11 23:12] rviertel2 commented on #124
that would be nice, but it would be good to have a place where you can view
the skipped files in case somebody sets it too low and skips a file that
they really do want in their project

-- Ryan Viertel

On Thu, Aug 11, 2016 at 1:35 PM, Jesse Piascik <notifications@github.com>
wrote:

[2016-08-14 15:17] orangercat opened #125 "Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an al..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.8
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29

### Stack Trace

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".

[2016-08-15 18:42] cscuderi commented on #125
I'm getting this same issue. 😞

[2016-08-15 22:02] piascikj commented on #125
Is this happening when you try opening today's journal?  It looks like a problem with the loophole package.

[2016-08-15 22:39] cscuderi commented on #125
It is indeed (at least for me).

[2016-08-16 01:59] orangercat commented on #125
in fact, sometime i cant startup `iamdone`

[2016-08-16 15:15] kcschmi opened #126 "Reach out to neighbors about beta use."
Just get a feel if they'd like to be included in the beta use and provide feedback regarding imdone.io

[2016-08-16 21:18] alexcstark commented on #125
I am also having this issue.
/Users/alexcstark/.atom/packages/imdone-atom/node_modules/lodash/lodash.js:14499
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.8
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29

### Stack Trace

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eva

[2016-08-18 12:11] ajjnorton commented on #125
### Same issue when I try to open todays journal.

`Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".`

### Stack Trace

`EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content

[2016-08-20 04:53] ominfowave commented on #90
i have same problem please give me solution

[2016-08-20 14:40] piascikj commented on #125
I could not reproduce this on atom 1.9.9 with OS X 10.11.6.  Can someone please verify that it is still occurring for them on atom 1.9.9?  This is a strange one since I'm wrapping the call the `_.template` with `loophole.allowUnsafeNewFunction` on the line that's causing the error.

[2016-08-20 15:55] orangercat commented on #125
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.29

### Stack Trace

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".

[2016-08-20 15:56] orangercat commented on #125
it happens when i use today's journey

[2016-08-20 16:28] piascikj commented on #125
I just released a patch to fix this issue.  Can you please verify that it's working with imdone-atom 1.3.30

[2016-08-21 02:01] orangercat commented on #125
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.30

### Stack Trace

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".

[2016-08-21 03:40] #125 closed

[2016-08-25 15:02] TheCodingSmith opened #127 "TODO not adding to task board"
Nothing I add a `TODO` to will add to my taskboards.
I've tried `// TODO:` and `# TODO:` and the 3 variations of those. Nothings seems to be adding to my task board.

[2016-08-26 14:16] TenaciousDEK commented on #101
I second this. I use .sql files and embed TODO in the comments, but files with the .sql extension don't seem to get parsed and there doesn't seem to be any way of including these file types? Or is there?

I'd have thought that by default _ALL_ file types should be included unless specifically excluded via the .imdoneignore file or via the .imdone/config.json exclude filter.

Where exactly does it

[2016-08-31 11:51] habitus opened #128 "Not able to capture HTML and CSS comments into IMDONE"
can anyone help advise me on how to capture comments in HTML and CSS as TODOS in IMDONE?

Thanks!

[2016-09-01 03:14] piascikj commented on #128
Can you show me an example css and html file, or snippets for each?  I want to see the syntax you are using.

[2016-09-01 22:20] aoozdemir commented on #85
I'm on Windows 10 @piascikj. Sorry for the late response. I think this is still an issue. A refresh button is a good idea.

[2016-09-02 08:40] nicolauses commented on #90
i have the same proplem. I was update my Ionic version to version 2Beta, and one day after i got this kind of problem, i tried to update the nodeJS, the npm, etc, but it doesn't work.

[2016-09-02 12:50] piascikj commented on #90
Try adding the path of the file it's seeing as BUSY to .imdoneignore

[2016-09-06 21:47] piascikj opened #129 "As a user I would like only admins and owners to have the ability to create and edit connectors for my project"

[2016-09-07 18:28] piascikj opened #130 "As a user I would like to set my imdone.io password if I sign up using github"

[2016-09-07 19:00] kcschmi commented on #106
@piascikj  is this the task you want to assign to Matt?

[2016-09-07 19:14] piascikj commented on #121
- Email mailing list users (limit number of users?)
- How to get started link

[2016-09-07 19:50] piascikj commented on #106
yes

On Wed, Sep 7, 2016 at 2:00 PM, K Baus <notifications@github.com> wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik

[2016-09-09 16:58] piascikj opened #131 "As a user if I open a project I don't have access to I can request access or disconnect project from imdone.io"

[2016-09-10 17:53] piascikj commented on #129
Code is in place for this to work.  It just needs to be tested after implementing invite.

[2016-09-12 18:37] piascikj opened #132 "As a user, I would like to add a custom function card that acts on tasks basd on metadata"

[2016-09-15 16:13] kcschmi opened #133 "Create one-page outlining "Why?" imdone."
Per marketing meeting, need a one-page document outlining "Why Jesse created imdone?"
- chaos to simplicity
- eliminate team dysfunction
- organize To-Do's
- "Make Life Simple"/"Simplify your World"

[2016-09-19 13:05] #129 closed

[2016-09-25 18:22] piascikj opened #134 "@mlynch, I just posted this comment in a comment! id:127"

[2016-09-25 18:22] piascikj commented on #134
**Code comment:** DOING: @mlynch, I just posted this comment in a comment! id:127 gh:134
        in file: [**lib/views/login-view.coffee:46**](/imdone/imdone-atom/blob/master/lib/views/login-view.coffee#L46) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-25 18:41] piascikj commented on #116
**Code comment:** TODO: We have to be better about communicating errors from connector api response such as insufficient permissions with github gh:116 id:33
        in file: [**lib/services/imdoneio-client.coffee:193**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L193) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone

[2016-09-25 18:42] piascikj opened #135 "Send branch on sync if available for rules. id:128"

[2016-09-25 18:42] piascikj commented on #135
**Code comment:** DOING: Send branch on sync if available for rules. id:128 gh:135
        in file: [**lib/services/imdoneio-client.coffee:273**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L273) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-25 18:42] piascikj opened #136 "Send branch on sync if available for rules. id:128 gh:135"

[2016-09-25 18:42] piascikj commented on #135
**Code comment:** DOING: Send branch on sync if available for rules. id:128 gh:135 gh:136
        in file: [**lib/services/imdoneio-client.coffee:273**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L273) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-25 18:42] piascikj commented on #136
**Code comment:** DOING: Send branch on sync if available for rules. id:128 gh:135 gh:136
        in file: [**lib/services/imdoneio-client.coffee:273**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L273) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-25 18:42] #136 closed

[2016-09-25 18:43] piascikj commented on #135
**Code comment:** DOING: Send branch on sync if available for rules. id:128 gh:135
        in file: [**lib/services/imdoneio-client.coffee:273**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L273) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 14:48] piascikj commented on #135
**Code comment:** DOING: Send branch on sync if available for rules. id:128 gh:135 +now
        in file: [**lib/services/imdoneio-client.coffee:273**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L273) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 15:42] piascikj commented on #105
**Code comment:** READY: If syncing don't fire onRepoUpdate.  Wait until done syncing. gh:105 id:70
        in file: [**lib/views/imdone-atom-view.coffee:118**](/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L118) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 15:42] piascikj commented on #105
**Code comment:** READY: mask isn't always hiding correctly gh:105 id:69
        in file: [**lib/views/imdone-atom-view.coffee:114**](/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L114) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 16:26] piascikj commented on #102
**Code comment:** DONE: also save to imdone.io in parallel gh:102 id:54
        in file: [**lib/services/imdoneio-store.coffee:137**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L137) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 16:26] piascikj commented on #102
**Code comment:** DONE: also save to imdone.io in parallel gh:102 id:54
        in file: [**lib/services/imdoneio-store.coffee:137**](/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L137) has been modified.
Issue Comment Bot - @imdone. Get TODOBOTs to do your work at [imdone.io](http://imdone.io)

[2016-09-26 20:34] #113 closed

[2016-09-29 00:10] rayk opened #137 "Task not showing up in Imdone board."
Hi

I am having some problems with getting my task to show up in the board. I have tried various markups like #TODO: //TODO etc.

I have created a [GIST](https://gist.github.com/rayk/c7d33b334ad788d23e4df7afb5671d50) with my config and was wondering if you could have a look for me. It is something obvious I can not see it.

Also when I try to open todays journal I get can't open journal file error

[2016-09-29 06:37] rayk commented on #137
Hope this helps. Atom Version 1.10.2

![screen shot 2016-09-29 at 4 34 48 pm](https://cloud.githubusercontent.com/assets/349890/18943430/e2f32c22-8662-11e6-85ac-d3b4c6b40f85.png)

[2016-09-30 18:00] molmedoz opened #138 "Uncaught Error: ENOENT: no such file or directory, uv_chdir"
[Enter steps to reproduce below:]

1. Open Atom
2. Navigate between tabs

**Atom Version**: 1.10.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v1.3.31

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, uv_chdir

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2016-10-01 02:33] rayk commented on #137
@piascikj Any ideas? I have tried it on my laptop and I am the same situation.... Happy to do more digging if you could point me in a direction....

Thanks in advance
Ray

[2016-10-01 06:39] piascikj commented on #137
It appears that the list names need to be added to the code.include_lists
array in .imdone/config.json.  When you add a list to the UI it's not
getting put here.  I've been meaning to implement it, and plan to in the
next release.  imdone.io is taking up most of my time.

On Fri, Sep 30, 2016 at 9:33 PM, Ray King <notifications@github.com> wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://

[2016-10-03 19:55] imdone-test commented on #137
Also, in code comments, imdone will only recognize list names that are in all caps or if not all caps are prefixed with a hash like this `#Doing or #Backlog`

[2016-10-03 20:38] piascikj commented on #137
Also, in code comments, imdone will only recognize list names that are in all caps or if not all caps are prefixed with a hash like this #Doing or #Backlog

[2016-10-04 21:11] #133 closed

[2016-10-04 21:11] #121 closed

[2016-10-06 11:11] jamesgraham10 commented on #128
I'm having a similar issue. Am I using the wrong syntax?

[code]

[2016-10-06 14:43] piascikj commented on #128
I found the cause of this.  It seems the regex was including the `--` in the list name and it didn't pass inspection.  I changed the regex to start with `[A-Z]+` and it resolved the issue.  This fix will be in on Monday with the release of imdone.io and a major upgrade of imdone-atom.  Thanks for reporting.  Both of you!

[2016-10-06 14:43] #134 closed

[2016-10-06 14:47] piascikj commented on #128
If you want to test it out, install imdone-atom-beta.  Just be sure to disable imdone-atom first.

[2016-10-06 15:12] jamesgraham10 commented on #128
Awesome! :)

[2016-10-11 17:01] miklb opened #139 "Beta Issue: Uncaught ReferenceError: _ is not defined"
Using latest Atom Beta (also with previous versions of Atom Beta & stable)

[Enter steps to reproduce below:]

1. Open task board

**Atom Version**: 1.12.0-beta0
**Electron Version**: 1.3.6
**System**: Mac OS X 10.12.1
**Thrown From**: [imdone-atom-beta](https://github.com/innobuilt/imdone-atom-beta) package, v1.9.14

### Stack Trace

Uncaught ReferenceError: _ is not defined

[code]

### Commands

[2016-10-11 17:44] piascikj commented on #139
This should be fixed in 1.9.15

[2016-10-12 16:01] #139 closed

[2016-10-14 21:58] piascikj opened #140 "Keep sync from happening twice id:118 +bug +beta"
DOING: Keep sync from happening twice id:118 +bug +beta
    [**lib/services/imdoneio-store.coffee:82**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L82)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-15 06:02] piascikj commented on #140
DONE: Keep sync from happening twice id:118 +bug +beta gh:140
      [**lib/services/imdoneio-store.coffee:83**](https://github.com/imdone/imdone-atom/blob/undefined/lib/services/imdoneio-store.coffee#L83)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-15 06:02] #140 closed

[2016-10-19 21:03] piascikj opened #141 "Encapsulate connectorManager in repo +refactor id:64"
DOING: Encapsulate connectorManager in repo +refactor id:64
    [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L149)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:04] piascikj commented on #141
DOING: Encapsulate connectorManager in repo +refactor +enhancement id:64 gh:141
    [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L149)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:04] piascikj commented on #141
DONE: Encapsulate connectorManager in repo +refactor +enhancement id:64 gh:141
    [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L149)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:04] piascikj commented on #141
DONE: Encapsulate connectorManager in repo +refactor +enhancement id:64 gh:141
      [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/imdone-atom-view.coffee#L149)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:04] #141 closed

[2016-10-19 21:17] piascikj opened #142 "Need a way to handle repos that don't allow issues (Forks, etc)"
DOING: Need a way to handle repos that don't allow issues (Forks, etc) +enhancement id:118
    [**lib/views/product-detail-view.coffee:101**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L101)
@imdone _creator-bot_. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:18] piascikj commented on #102
DONE: also save to imdone.io in parallel gh:102 id:49
    [**lib/services/imdoneio-store.coffee:150**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L150)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:18] piascikj opened #143 "This belongs in bottomView +refactor id:58"
DONE: This belongs in bottomView +refactor id:58
    [**lib/views/bottom-view.coffee:110**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L110)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:18] piascikj opened #144 "This belongs in bottomView +refactor id:57"
DONE: This belongs in bottomView +refactor id:57
    [**lib/views/bottom-view.coffee:107**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L107)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:18] piascikj commented on #49
DONE: Add a link to open filtered files gh:49 id:87
    [**lib/views/menu-view.coffee:37**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L37)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 21:18] piascikj opened #145 "Consider respecting "Exclude VCS ignored paths" or .imdoneignore issue:6 issue:4 +enhancement id:112"
DONE: Consider respecting "Exclude VCS ignored paths" or .imdoneignore issue:6 issue:4 +enhancement id:112
    [**todo.md:18**](https://github.com/imdone/imdone-atom/blob/master/todo.md#L18)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-19 22:16] piascikj opened #146 "Show sync status when a connected repo is initialized +enhancement +beta id:119"
DOING: Show sync status when a connected repo is initialized +enhancement +beta id:119
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:17] piascikj commented on #146
DOING: Show sync status when a connected repo is initialized +beta id:119 gh:146
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:17] piascikj commented on #146
DOING: Show sync status when a connected repo is initialized +feature +beta id:119 gh:146
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:25] piascikj opened #147 "Show sync status when a connected repo is initialized +feature +beta id:120"
DOING: Show sync status when a connected repo is initialized +feature +beta id:120
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:27] #143 closed

[2016-10-19 22:27] #144 closed

[2016-10-19 22:27] #146 closed

[2016-10-19 22:27] #147 closed

[2016-10-19 22:42] piascikj opened #148 "Show sync status when a connected repo is initialized +feature +beta id:121"
DOING: Show sync status when a connected repo is initialized +feature +beta  id:121
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:43] piascikj commented on #148
DOING: Show sync status when a connected repo is initialized +feature +beta id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:44] piascikj commented on #148
DOING: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:50] piascikj commented on #148
DONE: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:51] piascikj commented on #148
DOING: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 22:51] piascikj commented on #148
DONE: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 23:07] piascikj commented on #148
DOING: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-19 23:07] piascikj commented on #148
DONE: Show sync status when a connected repo is initialized +feature id:121 gh:148
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #116
TODO: We have to be better about communicating errors from connector api response such as insufficient permissions with github gh:116 id:41
    [**lib/services/imdoneio-client.coffee:225**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L225)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #135
READY: Send branch on sync if available for rules. gh:135 +now id:44
    [**lib/services/imdoneio-client.coffee:289**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L289)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #140
DONE: Keep sync from happening twice +bug +beta gh:140 id:34
    [**lib/services/imdoneio-store.coffee:87**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L87)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #102
DONE: also save to imdone.io in parallel gh:102 id:49
    [**lib/services/imdoneio-store.coffee:150**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L150)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #105
READY: If syncing don't fire onRepoUpdate.  Wait until done syncing. gh:105 id:66
    [**lib/views/imdone-atom-view.coffee:154**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L154)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #105
READY: mask isn't always hiding correctly gh:105 id:65
    [**lib/views/imdone-atom-view.coffee:150**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L150)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #141
DONE: Encapsulate connectorManager in repo +refactor +enhancement gh:141 id:64
    [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L149)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #143
DONE: This belongs in bottomView +refactor gh:143 id:58
    [**lib/views/bottom-view.coffee:110**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L110)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #144
DONE: This belongs in bottomView +refactor gh:144 id:57
    [**lib/views/bottom-view.coffee:107**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L107)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj opened #149 "If over 2000 files, ask user to add excludes in `.imdoneignore` +feature id:62"
DONE: If over 2000 files, ask user to add excludes in `.imdoneignore` +feature id:62
    [**lib/views/imdone-atom-view.coffee:56**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L56)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #49
DONE: Add a link to open filtered files gh:49 id:87
    [**lib/views/menu-view.coffee:37**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L37)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj opened #150 "Maybe show assigned avatar on task +feature id:74"
BACKLOG: Maybe show assigned avatar on task +feature id:74
    [**lib/views/imdone-atom-view.coffee:445**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L445)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #142
DOING: Need a way to handle repos that don't allow issues (Forks, etc) +enhancement gh:142 id:95
    [**lib/views/product-detail-view.coffee:101**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L101)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj commented on #145
DONE: Consider respecting "Exclude VCS ignored paths" or .imdoneignore issue:6 issue:4 +enhancement gh:145 id:113
    [**todo.md:18**](https://github.com/imdone/imdone-atom/blob/master/todo.md#L18)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:46] piascikj opened #151 "Show sync status when a connected repo is initialized +feature id:122"
DOING: Show sync status when a connected repo is initialized +feature id:122
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 03:47] #148 closed

[2016-10-20 03:57] #151 closed

[2016-10-20 04:00] piascikj opened #152 "Show sync status when a connected repo is initialized +feature id:123"
DOING: Show sync status when a connected repo is initialized +feature id:123
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 04:16] #152 closed

[2016-10-20 05:16] piascikj opened #153 "Show sync status when a connected repo is initialized +feature id:124"
DOING: Show sync status when a connected repo is initialized +feature id:124
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 05:19] #153 closed

[2016-10-20 05:38] piascikj opened #154 "Show sync status when a connected repo is initialized +feature id:127"
DOING: Show sync status when a connected repo is initialized +feature  id:127
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 05:39] #154 closed

[2016-10-20 05:51] piascikj opened #155 "Show sync status when a connected repo is initialized +feature id:128"
DOING: Show sync status when a connected repo is initialized +feature  id:128
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 05:51] #155 closed

[2016-10-20 05:51] piascikj opened #156 "Show sync status when a connected repo is initialized +feature id:129"
DOING: Show sync status when a connected repo is initialized +feature id:129
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 05:53] #156 closed

[2016-10-20 06:02] piascikj opened #157 "Show sync status when a connected repo is initialized +feature id:130"
DOING: Show sync status when a connected repo is initialized +feature  id:130
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 06:03] piascikj commented on #157
DOING: Show sync status when a connected repo is initialized +feature id:130 gh:157
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 06:05] piascikj commented on #157
DOING: Show sync status when a connected repo is initialized +feature +enhancement id:130 gh:157
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 06:35] #157 closed

[2016-10-20 06:36] piascikj opened #158 "Show sync status when a connected repo is initialized"
DOING: Show sync status when a connected repo is initialized +feature id:120
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-10-20 06:45] #149 closed

[2016-10-20 06:45] #145 closed

[2016-10-20 21:03] piascikj opened #159 "Set up a global messaging area."
DOING: Set up a global messaging area. +enhancement id:55
    [**lib/views/bottom-view.coffee:21**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L21)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-20 21:04] piascikj commented on #159
DONE: Set up a global messaging area. +enhancement id:55 gh:159
      [**lib/views/bottom-view.coffee:21**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/bottom-view.coffee#L21)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://beta.imdone.io)

[2016-10-20 21:04] #159 closed

[2016-10-21 12:47] iansoper opened #160 "Version 1.3.31 not working with Atom Beta (1.12.0-beta3)"
I get this error in Atom:

`Some installed packages could not be loaded because they contain native modules that were compiled for an earlier version of Atom.Rebuild Packages`

Rebuilding the packages fails with the imdone-atom extension.

I get his log in Atom regarding the failed build:
[code]

[2016-10-24 20:25] piascikj opened #161 "Change these prior to release"
TODO: Change these prior to release +chore id:2
    [**config/index.coffee:17**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L17)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:25] piascikj opened #162 "Merge imdone-atom-beta with imdone-atom and publish"
DOING: Merge imdone-atom-beta with imdone-atom and publish +chore id:119
    [**config/index.coffee:26**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L26)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:25] piascikj commented on #161
TODO: Change these prior to release +chore id:2 gh:161
    [**config/index.coffee:17**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L17)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:26] piascikj commented on #161
DOING: Change these prior to release +chore id:2 gh:161
    [**config/index.coffee:17**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L17)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:26] piascikj commented on #162
DOING: Merge imdone-atom-beta with imdone-atom and publish +chore id:119 gh:162
    [**config/index.coffee:26**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L26)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #161
DOING: Change these prior to release +chore id:2 gh:161
    [**config/index.coffee:17**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L17)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #162
DOING: Merge imdone-atom-beta with imdone-atom and publish +chore id:119 gh:162
    [**config/index.coffee:27**](https://github.com/imdone/imdone-atom/blob/master/config/index.coffee#L27)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #116
TODO: We have to be better about communicating errors from connector api response such as insufficient permissions with github gh:116 id:33
    [**lib/services/imdoneio-client.coffee:225**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L225)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #135
READY: Send branch on sync if available for rules. gh:135 +now id:36
    [**lib/services/imdoneio-client.coffee:289**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L289)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #140
DONE: Keep sync from happening twice +bug +beta gh:140 id:42
    [**lib/services/imdoneio-store.coffee:87**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L87)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #102
DONE: also save to imdone.io in parallel gh:102 id:49
    [**lib/services/imdoneio-store.coffee:150**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L150)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #143
DONE: This belongs in bottomView +refactor gh:143 id:58
    [**lib/views/bottom-view.coffee:110**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L110)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #144
DONE: This belongs in bottomView +refactor gh:144 id:57
    [**lib/views/bottom-view.coffee:107**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L107)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #159
DONE: Set up a global messaging area. +enhancement gh:159 id:55
    [**lib/views/bottom-view.coffee:21**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L21)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj opened #164 "If over 2000 files, ask user to add excludes in `.imdoneignore`"
DONE: If over 2000 files, ask user to add excludes in `.imdoneignore` +feature id:62
    [**lib/views/imdone-atom-view.coffee:56**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L56)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #105
READY: If syncing don't fire onRepoUpdate.  Wait until done syncing. gh:105 id:66
    [**lib/views/imdone-atom-view.coffee:154**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L154)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #105
READY: mask isn't always hiding correctly gh:105 id:65
    [**lib/views/imdone-atom-view.coffee:150**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L150)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #141
DONE: Encapsulate connectorManager in repo +refactor +enhancement gh:141 id:64
    [**lib/views/imdone-atom-view.coffee:149**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L149)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj opened #165 "Maybe show assigned avatar on task"
BACKLOG: Maybe show assigned avatar on task +feature id:74
    [**lib/views/imdone-atom-view.coffee:445**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L445)
@imdone _creator-bot_. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #49
DONE: Add a link to open filtered files gh:49 id:87
    [**lib/views/menu-view.coffee:37**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L37)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #142
DOING: Need a way to handle repos that don't allow issues (Forks, etc).  Maybe two settings. (gitub repo and github issues repo) +enhancement gh:142 id:94
    [**lib/views/product-detail-view.coffee:101**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L101)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #158
DOING: Show sync status when a connected repo is initialized +feature gh:158 id:108
    [**lib/views/project-settings-view.coffee:34**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L34)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:40] piascikj commented on #145
DONE: Consider respecting "Exclude VCS ignored paths" or .imdoneignore issue:6 issue:4 +enhancement gh:145 id:113
    [**todo.md:18**](https://github.com/imdone/imdone-atom/blob/master/todo.md#L18)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:41] piascikj commented on #161
DONE: Change these prior to release +chore id:2 gh:161
      [**config/index.coffee:17**](https://github.com/imdone/imdone-atom/blob/undefined/config/index.coffee#L17)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:41] #161 closed

[2016-10-24 20:45] piascikj commented on #164
DONE: If over 2000 files, ask user to add excludes in `.imdoneignore` +feature id:62 gh:164
    [**lib/views/imdone-atom-view.coffee:56**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L56)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:45] piascikj commented on #165
BACKLOG: Maybe show assigned avatar on task +feature id:74 gh:165
    [**lib/views/imdone-atom-view.coffee:445**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L445)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:48] piascikj commented on #162
DONE: Merge imdone-atom-beta with imdone-atom and publish +chore id:119 gh:162
      [**config/index.coffee:27**](https://github.com/imdone/imdone-atom/blob/undefined/config/index.coffee#L27)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-24 20:48] #162 closed

[2016-10-25 14:45] #150 closed

[2016-10-25 14:46] #135 closed

[2016-10-25 16:02] #164 closed

[2016-10-25 16:03] piascikj commented on #128
Fixed in imdone-atom 2.0

[2016-10-25 16:03] #128 closed

[2016-10-25 16:04] #130 closed

[2016-10-25 16:05] piascikj commented on #92
This should be fixed in 2.0

[2016-10-25 16:05] #92 closed

[2016-10-25 16:06] piascikj commented on #86
Fixed in 2.0

[2016-10-25 16:06] #86 closed

[2016-10-25 17:10] #114 closed

[2016-10-25 17:11] #109 closed

[2016-10-25 17:11] #106 closed

[2016-10-25 17:11] #103 closed

[2016-10-25 17:12] #105 closed

[2016-10-25 17:12] #102 closed

[2016-10-25 17:12] #107 closed

[2016-10-25 17:12] #77 closed

[2016-10-25 17:12] #88 closed

[2016-10-25 17:12] #108 closed

[2016-10-25 17:14] #56 closed

[2016-10-26 00:31] mikeerickson opened #166 "Support additional tags (such as feature and bug)?"
Is there a way to expand the tags which are supported (currently seems only `todo`, `fixme, `review`, and `note`)

Looking to also support `feature` and `bug` tags

[2016-10-26 01:13] piascikj commented on #166
Just add it to the board using the "+" button.  If the token isn't all upper case letters you'll have to prefix it with a `#` like this.
[code]

But a better way to do this would be to use tags like `+feature`.
[code]

Check out the [syntax page](https://github.com/imdone/imdone-core#task-formats)

[2016-10-26 01:13] #166 closed

[2016-10-26 12:55] felixjung opened #167 "Can't get .imdoneignore to work"
Hi,

I'd really like to use this great package! Unfortunately, imdone keeps telling me I have more than 7400 files in my project.

![screen shot 2016-10-26 at 14 52 58](https://cloud.githubusercontent.com/assets/265947/19726588/e9de2d50-9b8b-11e6-8ae1-2a14cf6afd21.png)

I know this can't be the case, if `node_modules` etc. are properly ignored. I've tried with the ignore VCS and without the VCS op

[2016-10-26 20:35] cmoud94 commented on #167
Same problem here.

[2016-10-27 06:46] piascikj commented on #167
Hey guys.  Thanks for pointing this out.

I just replaced [minimatch](https://www.npmjs.com/package/minimatch) with [ignore](https://www.npmjs.com/package/ignore).  The ignore package follows the [gitignore spec](https://git-scm.com/docs/gitignore).  You may have to rework your `.imdoneignore` file to get the rules right, but if you're trying to ignore all but some subdirectories, try this... [git

[2016-10-27 06:48] piascikj commented on #167
The update is in imdone-atom 2.0.4

[2016-10-27 06:52] cmoud94 commented on #167
I can confirm that ```.imdoneignore``` works now. @piascikj thanks for solving this fast.

[2016-10-27 07:15] piascikj opened #168 "remove sort number on all TODO comments when saving sort to cloud"
DOING: remove sort number on all TODO comments when saving sort to cloud +enhancement id:120
    [**lib/services/imdoneio-store.coffee:185**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L185)
@imdone _creator-bot_. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-27 07:17] piascikj commented on #167
Glad it's working :shipit:

[2016-10-27 07:17] #167 closed

[2016-10-27 12:26] felixjung commented on #167
Works nicely! Thanks!

[2016-10-27 15:41] piascikj opened #169 "As a user I would to confirm opening of all visible files if no filter is applied."
TODO: As a user I would to confirm opening of all visible files if no filter is applied. +story id:121
    [**lib/views/menu-view.coffee:38**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L38)
@imdone _creator-bot_. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-28 20:12] #158 closed

[2016-10-28 20:13] #127 closed

[2016-10-31 01:46] #137 closed

[2016-10-31 02:09] rayk opened #170 "Cann't open journal"
@piascikj I can not seem to open the the journal... I just get the message it can not find the markdown file. I am assuming if the file does not exist it would create it.

Attach screen shot, does show something interesting. The actual project directory is ~/Projects/bodhi . By it is attempt in open in another directory ~/Project/banyan/notes . This directory but it is totally unrelated to project

[2016-10-31 17:32] piascikj opened #171 "This issue was created in with-atom. Stay in the flow~~~~~~~"
NOTE: @defunkt This issue was created in @atom with @imdone-atom.  Stay in the flow~~~~~~~ +discuss id:118
    [**lib/views/menu-view.coffee:124**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L124)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-31 17:35] piascikj commented on #171
NOTE: @defunkt This issue was created in @atom with @imdone.  Stay in the flow~~~~~~~ +discuss id:118 gh:171
    [**lib/views/menu-view.coffee:124**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L124)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-31 18:08] piascikj commented on #169
DONE: As a user I would to confirm opening of all visible files if no filter is applied. +story gh:169 id:90
      [**lib/views/imdone-atom-view.coffee:198**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/imdone-atom-view.coffee#L198)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-10-31 18:08] #169 closed

[2016-11-01 19:04] bwbarron opened #172 "Uncaught TypeError: Cannot read property 'tokenfield' of undefined"
1. Load a project
2. Run imdone to view tasks

I just installed this package and tried to run it in my project for the first time and got this error.

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.0.9

### Stack Trace

Uncaught TypeError: Cannot read property 'tokenfield' of undef

[2016-11-01 19:46] #172 closed

[2016-11-01 19:47] piascikj commented on #172
:+1:  Fixed in 2.0.10.  Thanks for the heads up! :beers:

[2016-11-04 05:26] alexkiura opened #173 "Throws Uncaught Error: Cannot find module './stream-api'"
The error `Uncaught Error: Cannot find module './stream-api'` is thrown when I open the imdone task-board in version2.0.13.

[2016-11-04 15:07] piascikj commented on #173
Looks like there might have been a problem when you installed.  This error is coming from a dependency of imdone-atom.  Try uninstalling the package and installing again.

[2016-11-04 16:27] MrLoh opened #174 "Can't Login"
Somethin is broken with the login window, looks like this (Atom 1.11.2):

![screen shot 2016-11-04 at 17 26 40](https://cloud.githubusercontent.com/assets/1285032/20013570/f37e4820-a2b3-11e6-9ca7-4c8314de60e0.png)

[2016-11-04 23:44] piascikj commented on #174
You might try uninstalling imdone-atom and installing again.  It looks like
there may be some css missing.

On Fri, Nov 4, 2016 at 11:27 AM, Tobias Lohse <notifications@github.com>
wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik

[2016-11-05 09:50] alexkiura commented on #173
Reinstalled the package and the error is no more. Thanks 👍🏽

[2016-11-05 10:47] k5e commented on #173
Atom 1.11.2; Ubuntu Linux  16.10

I have got the same error:
[code]
Uninstalling and reinstalling of the package did not help. The stack trace is from after the reinstall.

[2016-11-09 18:31] piascikj commented on #174
Did this finally work for you?

[2016-11-09 18:35] MrLoh commented on #174
it seems to be working now. Thanks a lot. Great plugin.

[2016-11-09 18:35] #174 closed

[2016-11-09 18:37] piascikj commented on #174
Thanks!  What do you think of the integration with github?  In your opinion is it something worth paying for?

[2016-11-09 18:55] MrLoh commented on #174
Yes maybe. A full integration with the new github projects would be very interesting. And I am not convinced by the comments that are generated yet. They are very confusing. I'd prefer just updating the title of the issue and going to github for comments, or possibly syncing them to the task board in atom, but not into the code.

[2016-11-09 21:19] piascikj commented on #174
Thanks for all your feedback.  I find this very useful.
Why not into the code?  Did you know you could also comment on an issue by creating a new TODO comment with the same issue number? like this...
[code]

[2016-11-09 22:29] MrLoh commented on #174
That's interesting. But in the end I don't know how much communication I really wanna do inside my code, that becomes a bit bloated if I can't hide it and it's probably very rare anyways. Because the real discussions happen on features and not on single todos in the code so much.

I think it's a tuff sell. It's great to have todos in code organized but that's often not the stuff I track on GitHub.

[2016-11-10 01:05] piascikj commented on #174
So adding and not updating.  What about closing and adding labels?  Would you like closing issues by changing the token part of the comment, like `// TODO:` to `// DONE:` or adding labels by adding a `+label-name` to the comment with a `gh:issue-number`?  I'll add some configuration options to the creator and label bots so you can have more control over comments.  I can see leaving the comments of

[2016-11-10 08:37] molovo opened #175 "Deprecated selector in `imdone-atom/styles/imdone-atom.less`"
In `imdone-atom/styles/imdone-atom.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selec

[2016-11-10 08:49] MrLoh commented on #174
Yeah closing issues from inside the code and adding labels is very nice.

Seeing the discussion from within the code could be nice, but then I would want it as a modal/popup or something, not just all in my code. But even then, I personally wouldn't have many use cases for that.

[2016-11-10 18:17] piascikj opened #176 "new image"
![- -home-jesse-projects-imdone-core master _015](https://cloud.githubusercontent.com/assets/233505/20188737/9a3decf8-a73f-11e6-89c3-c3b348c98ae7.png)

[2016-11-10 18:17] #176 closed

[2016-11-12 15:37] jpbourgeon commented on #139
Hi

I have a similar issue when I click on "Open files for visible tasks"

-  Atom 1.12.2
-  Windows 10
-  imdone-atom 2.0.15

__Stack Trace__
[code]

[2016-11-12 16:11] piascikj commented on #139
Thanks @jpbourgeon. It should be fixed in 2.0.16.

[2016-11-13 13:58] jpbourgeon commented on #27
+1
it would be very interesting to export todos in a customizable format :

-   for filing
-   for communication with stakeholders

[2016-11-13 16:26] piascikj commented on #59
Is anyone still seeing this?

[2016-11-13 22:36] piascikj opened #177 "Open package config with a button"
BACKLOG: Open package config with a button click `atom.workspace.open 'atom://config/packages/imdone-atom'` <https://github.com/mrodalgaard/atom-todo-show/blob/804cced598daceb1c5f870ae87a241bbf31e2f17/lib/todo-options-view.coffee#L49> id:88 +feature
    [**lib/views/menu-view.coffee:29**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L29)
@imdone *creator-bot*. Get T

[2016-11-14 23:57] #171 closed

[2016-11-15 16:57] piascikj commented on #177
BACKLOG: Open package config with a button click `atom.workspace.open 'atom://config/packages/imdone-atom'` <https://github.com/mrodalgaard/atom-todo-show/blob/804cced598daceb1c5f870ae87a241bbf31e2f17/lib/todo-options-view.coffee#L49> id:88 +feature gh:177
    [**lib/views/menu-view.coffee:29**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L29)
@imdone *comment-bot*

[2016-11-17 21:41] piascikj opened #178 "AAUIWLT click a button on the board to open the package configuration"
BACKLOG: AAUIWLT click a button on the board to open the package configuration id:110 +story
    [**todo.md:9**](https://github.com/imdone/imdone-atom/blob/master/todo.md#L9)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-11-18 01:52] kvsm opened #179 "No GitHub issue created by creator-bots"
Atom v.1.11.2

With default creator-bot tags, adding '+enhancement' to a TODO comment does not create and link an issue on GitHub.

![image](https://cloud.githubusercontent.com/assets/1372660/20415640/80d973f2-ad31-11e6-9e05-2f897fb8a1a9.png)

[2016-11-18 14:10] piascikj commented on #179
That's not good!  I think there might be an issue with credentials expiring.  I'm looking into it now, but can you try visiting <https://imdone.io/account> and going to the bottom of the page to "unlink" and then "link" your github account?  The try modifying the same todo.  Just add a period or something. and save the file.

[2016-11-19 11:44] kvsm commented on #179
Ok, tried that a couple of times but still the same issue. When I change the todo and save, I can see the spinner in the task list spinning, and it stays that way, with the rest of the task list disabled.

[2016-11-19 21:51] AkashTripathy opened #180 "Cannot read property 'accountName' of undefined"
1. The Error Popup comes whenever I press alt+t to see the tasks

**Atom Version**: 1.12.4
**Electron Version**: 1.3.9
**System**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.0.17

### Stack Trace

Uncaught TypeError: Cannot read property 'accountName' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packag

[2016-11-19 22:12] piascikj commented on #179
@kvsm I've deployed a fix for this.  Trey unlinking and linking your github account again.

[2016-11-19 22:15] piascikj commented on #178
BACKLOG: AAUIWLT click a button on the board to open the package configuration id:110 +story gh:178
    [**todo.md:9**](https://github.com/imdone/imdone-atom/blob/master/todo.md#L9)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-11-19 22:19] piascikj commented on #180
Looks like a bug.  I just published a fix for this.  Should be working now.

[2016-11-19 22:23] kvsm commented on #179
Sorted, thanks. :) Nice work btw.

[2016-11-19 22:23] #179 closed

[2016-11-20 10:54] Necmttn opened #181 "Password is not hash"
http://prntscr.com/d9j97r

i'm also not able to login 😢

[2016-11-20 14:35] piascikj commented on #181
DOING: I must have just introduced that bug, trying to fix a deprecation.  There's a patch in 2.0.19 gh:181 +bug +deprecated id:119
    [**styles/imdone-atom.less:539**](https://github.com/imdone/imdone-atom/blob/master/styles/imdone-atom.less#L539)
@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-11-20 14:35] piascikj commented on #181
DONE: I must have just introduced that bug, trying to fix a deprecation.  There's a patch in 2.0.19 gh:181 +bug +deprecated id:119
      [**styles/imdone-atom.less:539**](https://github.com/imdone/imdone-atom/blob/undefined/styles/imdone-atom.less#L539)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-11-20 14:35] #181 closed

[2016-11-20 14:37] piascikj commented on #181
Hope that made sense to you.  I'm working on making these comments more user friendly.

[2016-11-20 15:31] piascikj commented on #175
Thanks @molovo.  I also saw the deprecation warning in Atom Beta.  I followed the suggestion, but it broke my password field.  I'll have to look for another approach to implementing a password field.

[2016-11-21 13:49] #180 closed

[2016-11-21 14:18] Necmttn commented on #181
Thanks mate ! :)

[2016-11-24 05:42] onetrev commented on #59
Definitely still seeing it.

[2016-12-02 16:16] piascikj opened #182 "Close bottom-view if none of it's direct descendants are visible"
DOING: Close bottom-view if none of it's direct descendants are visible +bug id:120
    [**lib/views/bottom-view.coffee:125**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L125)
@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2016-12-08 19:23] dalgleish opened #183 "UI Performance"
I really like this package. But I've had to disable it because the performance loading the Tasks is terrible.

It seems related to number of tasks, because when I open a new window and load a simple project, although ⌥T is still slow, after loading it seems ok.

I realize it has to parse all the files to find `TODO` and such, but is there a way to improve this using async functions or something so

[2016-12-08 22:19] jm-welch opened #184 "Uncaught TypeError: Cannot read property 'toString' of undefined"
[Enter steps to reproduce below:]

1. Set up imdone account
2. Log in in a project with existing issues
3. Configure the github URL for the repo in imdone settings
4. Click the octocat icon for an existing issue
5. Click "New Issue"

**Atom Version**: 1.12.6
**Electron Version**: 1.3.9
**System**: Mac OS X 10.11.6
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.0.

[2016-12-13 15:43] wchapman opened #185 "Uncaught TypeError: glob pattern string required"
[Enter steps to reproduce below:]

1. Open Imdone board
2. Click a "take me to the source" link

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.1
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.0.19

### Stack Trace

Uncaught TypeError: glob pattern string required

[code]

### Commands

[code]

### Config

[code]

### Installed P

[2016-12-18 14:15] codeitco opened #186 "Duplicate Tasks"
Hi,

This may be a question more than an actual issue.

I am starting to use SCSS and when I compile the CSS file from it, imdone gives me duplicate tasks because of the generated file. Is there a way I can easily exclude specific files from showing tasks in imdone? I'm looking to exclude the .CSS only since all my work will be done in the SCSS.

I see you have some exclusion pattern in regex but

[2016-12-21 16:21] marcus-crane opened #187 "Uncaught Error: Cannot find module 'debug/browser'"
Upon first installing imdone-atom and hitting alt-t, I'm presented with the following stack trace:

[code]

The "Create issue" link that it generates also triggers a `414 Request-URI Too Large` with Github. The link in question that causes it for me is

[code]

[2016-12-22 07:22] pranshu1992 commented on #187
any update on this issue ?

[2016-12-22 14:17] sazzer commented on #187
I've just rolled back to 2.0.0 and the problem is still present. Going back to 1.3.31 - the version before - and it's not present, so it's something in the jump to 2.0.0 that's caused it.

[2016-12-22 14:52] piascikj commented on #187
I'll have a look today.  Probably a minor fix.

[2016-12-22 15:16] marcus-crane commented on #187
Same deal as @sazzer. Installing 1.3.31 works perfectly fine but updating to 2.0.0 and beyond results in the error I mentioned.

[2016-12-23 02:49] isalew opened #188 "Trouble syncing with imdone.io"
I open `Imdone Atom: Tasks` in Atom, and it inits the `.imdone` folder.
I log into my imdone.io account, and it says `Syncing 1 Comments. Please wait...`.

Unfortunately, it just sits there, and never loads. Should the `.imdone` folder already be in my remote repo? I currently have the `.imdone` folder on my `.gitignore` list, but have made no remote pushes since initing Imdone.

![screen shot 201

[2016-12-23 05:41] seanbuscay commented on #185
I noticed turning off the file opener allows one to click the take me to the source link without generating the error.

[2016-12-23 19:39] #173 closed

[2016-12-23 19:44] #185 closed

[2016-12-23 19:44] #187 closed

[2016-12-23 22:21] piascikj commented on #182
Replace this with something meaningful like... "@piascikj started working this issue."

    ----
    TODO: Close bottom-view if none of it's direct descendants are visible +bug gh:182 id:61
    [**lib/views/bottom-view.coffee:125**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L125)

    @imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://loc

[2016-12-23 22:21] piascikj commented on #182
Replace this with something meaningful like... "@piascikj started working this issue."

    ----
    DOING: Close bottom-view if none of it's direct descendants are visible +bug gh:182 id:61
    [**lib/views/bottom-view.coffee:125**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L125)

    @imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://lo

[2016-12-23 22:22] piascikj commented on #182
Replace this with something meaningful like... "@piascikj started working this issue."

    ----
    TODO: Close bottom-view if none of it's direct descendants are visible +bug gh:182 id:61
    [**lib/views/bottom-view.coffee:125**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L125)

    @imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://loc

[2016-12-24 03:38] marcus-crane commented on #187
Thanks @piascikj!

[2016-12-26 21:33] piascikj opened #189 "Set the waffle project to the github user/repo"
Issue created with imdone.io

    ----
    DOING: Set the waffle project to the github user/repo +feature id:121
    [**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

    @imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 21:33] #189 closed

[2016-12-26 21:41] piascikj opened #190 "Set the waffle project to the github user/repo"
Issue created with imdone.io

    ----

    DOING: Set the waffle project to the github user/repo +feature id:122
    [**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

    @imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 21:44] #190 closed

[2016-12-26 21:46] piascikj opened #191 "Set the waffle project to the github user/repo"
Issue created with imdone.io

----

DOING: Set the waffle project to the github user/repo +feature id:123
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 21:53] piascikj opened #192 "Set the waffle project to the github user/repo"
Issue created with imdone.io

----

DOING: Set the waffle project to the github user/repo +feature id:124
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 21:53] #192 closed

[2016-12-26 21:53] #191 closed

[2016-12-26 21:53] piascikj opened #193 "Set the waffle project to the github user/repo"
Issue created with imdone.io

----

DOING: Set the waffle project to the github user/repo +feature id:126
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 21:57] #193 closed

[2016-12-26 22:15] piascikj opened #194 "Set the waffle project to the github user/repo"
Issue created with imdone.io

----

DOING: Set the waffle project to the github user/repo +feature id:130
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *creator-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 22:16] piascikj commented on #194
Replace this with something meaningful like... "@piascikj started working this issue."

----

TODO: Set the waffle project to the github user/repo +feature id:130 gh:194
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 22:16] piascikj commented on #194
Replace this with something meaningful like... "@piascikj started working this issue."

----

DOING: Set the waffle project to the github user/repo +feature id:130 gh:194
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-26 22:18] piascikj commented on #142
Replace this with something meaningful like... "@piascikj started working this issue."

----

TODO: Need a way to handle repos that don't allow issues (Forks, etc).  Maybe two settings. (gitub repo and github issues repo) +enhancement gh:142 id:99
[**lib/views/product-detail-view.coffee:102**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L102)

@imdone *co

[2016-12-26 22:18] piascikj commented on #168
Replace this with something meaningful like... "@piascikj started working this issue."

----

TODO: remove sort number on all TODO comments when saving sort to cloud +enhancement gh:168 id:52
[**lib/services/imdoneio-store.coffee:186**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L186)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http

[2016-12-26 22:18] piascikj commented on #158
Replace this with something meaningful like... "@piascikj started working this issue."

----

TODO: Show sync status when a connected repo is initialized +feature gh:158 id:105
[**lib/views/project-settings-view.coffee:33**](https://github.com/imdone/imdone-atom/blob/master/lib/views/project-settings-view.coffee#L33)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localh

[2016-12-27 17:01] piascikj commented on #194
DONE: Set the waffle project to the github user/repo +feature id:130 gh:194
      [**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/product-detail-view.coffee#L13)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-27 17:03] piascikj commented on #194
Replace this with something meaningful like... "@piascikj started working this issue."

----

DOING: Set the waffle project to the github user/repo +feature id:130 gh:194
[**lib/views/product-detail-view.coffee:13**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L13)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-27 20:07] piascikj commented on #194
Replace this with something meaningful like... "@piascikj started working this issue."

----

READY: Set the waffle project to the github user/repo +feature id:130 gh:194
[**lib/views/product-detail-view.coffee:20**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L20)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](http://localhost:3000)

[2016-12-29 12:20] dynobo commented on #85
I have the same problem. Also using Windows 8.1. I'm open to give you more input, if it helps.

[2017-01-03 16:16] piascikj commented on #182
Replace this with something meaningful like... "@piascikj started working this issue."

----

DOING: Close bottom-view if none of it's direct descendants are visible +bug gh:182 id:60
[**lib/views/bottom-view.coffee:125**](https://github.com/imdone/imdone-atom/blob/master/lib/views/bottom-view.coffee#L125)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-03 17:34] piascikj commented on #194
DONE: Set the waffle project to the github user/repo +feature gh:194 id:94
      [**lib/views/product-detail-view.coffee:19**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/product-detail-view.coffee#L19)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-03 17:34] #194 closed

[2017-01-04 15:01] seanbuscay opened #195 "package.coffee:413 Error deactivating package 'imdone-atom' TypeError: Cannot read property 'destroyRepos' of null"
This error occurs during Atom window reloads.

_System settings are pasted below the error message._

To replicate:

1. Toggle the developer tools window
2. Check the 'Preserve Log' check box
3. (Optional) Clear previous log entries
4. From the View menu item choose Developer -> Reload Window
5. The error should be displayed in the developer tools window

Note: Line 145 in `imdone-atom.coffee` app

[2017-01-06 01:27] marcus-crane commented on #188
Same issue here as well. I'm not sure if there's any log files that can be provided if you need them?

[2017-01-06 17:52] piascikj commented on #171
Replace this with something meaningful like... "@piascikj started working this issue."

----

NOTE: This issue was created in @atom with @imdone.  Stay in the flow~~~~~~~ +discuss gh:171 id:93
[**lib/views/menu-view.coffee:138**](https://github.com/imdone/imdone-atom/blob/master/lib/views/menu-view.coffee#L138)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-06 18:46] piascikj commented on #195
Replace this with something meaningful like... "@piascikj started working this issue."

----

DOING: That dang destroy error id:122 gh:195
[**lib/imdone-atom.coffee:146**](https://github.com/imdone/imdone-atom/blob/master/lib/imdone-atom.coffee#L146)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-06 18:47] piascikj commented on #195
Replace this with something meaningful like... "@piascikj started working this issue."

----

READY: That dang destroy error id:122 gh:195
[**lib/imdone-atom.coffee:146**](https://github.com/imdone/imdone-atom/blob/master/lib/imdone-atom.coffee#L146)

@imdone *comment-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-06 18:48] piascikj commented on #195
DONE: That dang destroy error id:122 gh:195
      [**lib/imdone-atom.coffee:146**](https://github.com/imdone/imdone-atom/blob/undefined/lib/imdone-atom.coffee#L146)
@imdone *closer-bot*. Get TODOBOTs to do your work at [imdone.io](https://imdone.io)

[2017-01-06 18:48] #195 closed

[2017-01-06 19:22] piascikj commented on #195
@seanbuscay Thanks for reporting this.  It's fixed in the latest release.

[2017-01-06 19:35] piascikj commented on #188
This isn't good.  Would either of you like to do a google hangout to see if we can track down the problem?

[2017-01-07 00:25] piascikj commented on #186
Maybe try creating an `.imdoneignore` file and adding `*.scss` to it.

[2017-01-10 16:41] homeyer opened #196 "Uncaught Error: Internal Server Error"
[Enter steps to reproduce below:]

1. login
2. deleted all columns, so i can create columns later to map to my waffle board
3. clicked "Use imdone.io with this project"

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Mac OS X 10.11.5
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.1.4

### Stack Trace

Uncaught Error: Internal Server Error

[cod

[2017-01-10 19:05] piascikj commented on #196
Thanks man!  I'll look into this when I get home this evening.

On Tue, Jan 10, 2017 at 10:41 AM, Andrew Homeyer <notifications@github.com>
wrote:

--
*Jesse Pia**ś**cik*
Founder @imdoneIO <https://twitter.com/imdoneIO> | imdone.io
about.me/jesse.piascik

[2017-01-11 15:45] piascikj commented on #196
This is fixed with innobuilt/imdone-io@494237570c924c1a

[2017-01-11 15:45] #196 closed

[2017-01-12 20:09] piascikj commented on #188
@isalew @marcus-crane Is this working for you now since the latest update?

[2017-01-13 22:00] marcus-crane commented on #188
@piascikj Ah, sorry for taking ages to get back to you. I just checked it out and syncing all working fine now when installing the latest version 👍

[2017-01-13 22:10] #188 closed

[2017-01-13 22:45] piascikj opened #197 "Uncaught TypeError: Cannot read property 'pluginName' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.0-beta0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.04.1
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package 2.1.4

### Stack Trace

Uncaught TypeError: Cannot read property 'pluginName' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-01-14 03:32] nrwinner opened #198 "Can't capture HTML comments in a PHP file."
Hi,
I'm writing inline HTML in a PHP file, and imdone isn't pulling in any of my html comments. It is grabbing the PHP comments just fine.

Example:

[code]

[2017-01-14 03:57] isalew commented on #188
Same here, thanks @piascikj  and @marcus-crane!

[2017-01-14 04:51] #186 closed

[2017-01-14 17:22] piascikj commented on #50
@jronallo I'm working on it now.  Better late than never right!  I'm implementing it now because I'm also adding a delete all visible tasks button and a replace feature.

[2017-01-15 11:27] FuJiK opened #199 "Failed to reload the imdone-atom package stylesheets"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.1.4

### Stack Trace

Failed to reload the imdone-atom package stylesheets

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-16 04:33] #197 closed

[2017-01-16 04:36] piascikj opened #200 "Images for Readme"
![filter-tasks](https://cloud.githubusercontent.com/assets/233505/21971105/fc44f31c-db72-11e6-857a-17fa92082a46.gif)

[2017-01-16 15:37] piascikj commented on #200
![Adding a  TODO token](https://cloud.githubusercontent.com/assets/233505/21989108/548c5d9c-dbcf-11e6-96d0-8e2e92e73371.gif)

[2017-01-16 16:00] #200 closed

[2017-01-16 16:12] #123 closed

[2017-01-16 16:13] piascikj commented on #50
This is in the latest release.

[2017-01-16 16:13] #50 closed

[2017-01-17 16:46] #198 closed

[2017-01-17 16:50] piascikj commented on #198
The languages.js in imdone-core didn't have a block comment set for php.  I added it, so it should be working now.

[2017-01-17 17:03] nrwinner commented on #198
Works perfectly! Thank you!

[2017-01-18 01:03] bdsexton commented on #12
@piascikj My apologies for the very late reply. I have not used imdone in quite a while except to check what it would do after I rejected the xcodebuild prompt it triggers when updating, but thank you for your efforts and your consideration.

@nblackburn I am not aware of any standard practice for such comments. I have often used "TO DO" and tools such as the various JetBrains IDEs support that.

[2017-01-18 01:16] bdsexton opened #202 "Why do installations and updates require xcodebuild? Add info to README.md?"
When installing or updating imdone on a macOS system that does not have Xcode installed, the following prompt appears mentioning the "xcodebuild" command:

<img width="573" alt="screen shot 2017-01-17 at 4 47 58 pm" src="https://cloud.githubusercontent.com/assets/656157/22046755/c61c9c02-dcd7-11e6-852c-24b3579d976d.png">

I do not recall seeing this with any Atom package other than imdone-atom. Wh

[2017-01-19 22:13] #118 closed

[2017-01-19 22:13] #117 closed

[2017-01-19 22:19] piascikj opened #203 "Check error for 404/Not Found when getting an issue from provider."
Issue created with imdone.io

----

TODO: Check error for 404/Not Found when getting an issue from provider. +enhancement id:8
[**lib/plugins/plugin-view.coffee:78**](https://github.com/imdone/imdone-atom/blob/master/lib/plugins/plugin-view.coffee#L78)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:20] piascikj opened #204 "Be sure to fire waffle rules on the same request as the github issue creation to ensure it starts off in the right waffle list"
Issue created with imdone.io

----

TODO: Be sure to fire waffle rules on the same request as the github issue creation to ensure it starts off in the right waffle list +enhancement id:132
[**lib/plugins/plugin-view.coffee:79**](https://github.com/imdone/imdone-atom/blob/master/lib/plugins/plugin-view.coffee#L79)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:46] piascikj commented on #116
----

TODO: Handle the case where there is no project found. id:41 gh:116
[**lib/services/imdoneio-store.coffee:71**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L71)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:46] piascikj commented on #116
----

TODO: Do something with this error id:40 gh:116
[**lib/services/imdoneio-store.coffee:68**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L68)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:47] piascikj commented on #116
----

TODO: Do something with this error id:43 gh:116
[**lib/services/imdoneio-store.coffee:100**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L100)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:47] piascikj commented on #116
----

TODO: Do something with this error id:48 gh:116
[**lib/services/imdoneio-store.coffee:126**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-store.coffee#L126)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:48] piascikj commented on #116
----

TODO: Handle errors by unauthenticating if needed and show login with error id:99 gh:116
[**lib/views/product-detail-view.coffee:106**](https://github.com/imdone/imdone-atom/blob/master/lib/views/product-detail-view.coffee#L106)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:48] piascikj commented on #116
----

TODO: If we get a forbidden error, then emit auth failure. id:26 gh:116
[**lib/services/imdoneio-client.coffee:78**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L78)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:49] piascikj commented on #116
----

TODO: We have to be better about communicating errors from connector api response such as insufficient permissions with github id:32 gh:116
[**lib/services/imdoneio-client.coffee:227**](https://github.com/imdone/imdone-atom/blob/master/lib/services/imdoneio-client.coffee#L227)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-19 22:49] piascikj commented on #116
----

TODO: We need to show an error here if service can't be reached or login fails id:86 gh:116
[**lib/views/login-view.coffee:74**](https://github.com/imdone/imdone-atom/blob/master/lib/views/login-view.coffee#L74)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-20 16:26] jeveloper commented on #183
Hey there

I have a similar MBP , curious if you were able to get it run 4K at 60hz with this patch?

thanks @dalgleish

[2017-01-20 18:47] piascikj commented on #183
Looks like there must be a correlation to the number of TODO comments found.
@jeveloper What patch? @dalgleish Is this from a project You can grant me access to for testing?

[2017-01-20 20:19] piascikj commented on #183
I think I found a great project to test with.  I'll get back to you with the results.

[2017-01-20 20:39] jeveloper commented on #183
@piascikj oh boy,my bad, i was searching a different project and this ticket came up, strange , it was related to 650M video card and 4k...
nevermind hehe

[2017-01-20 23:03] BispensGipsGebis commented on #78
Any known workarounds or fixes for this issue? Blocks the package completely

[2017-01-21 00:11] piascikj commented on #204
----

TODO: Be sure to fire waffle rules on the same request as the github issue creation to ensure it starts off in the right waffle list +enhancement id:132 gh:204 due:2017-02-01
[**lib/plugins/plugin-view.coffee:79**](https://github.com/imdone/imdone-atom/blob/master/lib/plugins/plugin-view.coffee#L79)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 01:18] piascikj commented on #58
Are either of you still having trouble activating the package?

[2017-01-22 15:26] piascikj opened #205 "For UI performance only update the lists that have changed"
Issue created with imdone.io

----

DOING: For UI performance only update the lists that have changed id:134 +enhancement
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:27] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:27] piascikj commented on #205
----

TODO: For UI performance only update the lists that have changed id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:28] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:30] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:32] piascikj commented on #205
----

TODO: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 15:32] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 16:00] piascikj commented on #204
----

TODO: Be sure to fire waffle rules on the same request as the github issue creation to ensure it starts off in the right waffle list +enhancement id:132 gh:204
[**lib/plugins/plugin-view.coffee:79**](https://github.com/imdone/imdone-atom/blob/master/lib/plugins/plugin-view.coffee#L79)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 16:08] piascikj commented on #205
DONE: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
      [**lib/views/imdone-atom-view.coffee:162**](https://github.com/imdone/imdone-atom/blob/undefined/lib/views/imdone-atom-view.coffee#L162)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 16:09] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:162**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L162)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 16:35] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137
[**lib/views/imdone-atom-view.coffee:433**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L433)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 20:47] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:433**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L433)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-22 20:47] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +m
[**lib/views/imdone-atom-view.coffee:433**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L433)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 03:27] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:433**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L433)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:10] piascikj commented on #205
----

DOINGS: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:10] piascikj commented on #205
----

DOINGS: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:577**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L577)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:36] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:582**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L582)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:36] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:42] piascikj commented on #205
----

DOINGS: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:585**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L585)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:42] piascikj commented on #205
----

DOINGS: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:43] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:585**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L585)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:43] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:45] piascikj commented on #205
----

DOINGS: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:45] piascikj commented on #205
----

DOINGS: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:585**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L585)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:50] piascikj commented on #205
----

DOING: Only update board with changed tasks gh:205 id:137 +master
[**lib/views/imdone-atom-view.coffee:585**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L585)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-23 15:50] piascikj commented on #205
----

DOING: For UI performance only update the lists that have changed. id:134 +enhancement gh:205
[**lib/views/imdone-atom-view.coffee:161**](https://github.com/imdone/imdone-atom/blob/master/lib/views/imdone-atom-view.coffee#L161)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-24 09:33] jorenrothman opened #206 "Uncaught TypeError: Cannot read property 'accountName' of undefined"
**Atom Version**: 1.13.0
**System**: Mac OS X 10.12.2
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package, v2.1.11

### Stack Trace

Uncaught TypeError: Cannot read property 'accountName' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-24 14:13] #206 closed

[2017-01-24 14:15] jorenrothman commented on #206
Already fixed it just removed my config folder

[2017-01-24 14:27] piascikj commented on #206
Haha! Thanks!

[2017-01-24 23:28] booc0mtaco commented on #175
bump? Hopefully this won't lead to anything breaking soon, but `imdone` is the last one on my list of plugins that needs updating. Worried they might pull the trigger on some kinda major change.

[2017-01-25 00:09] piascikj commented on #175
I took a swipe at this a while back, but working with the text-editor-view and masking isn't trivial.  I may just switch to plain old html input.

[2017-01-25 00:54] miklb opened #207 "Uncaught Range Error"
Attempting to load task board for project, finds number of files, and while parsing for tasks, it locks up and throws error `Uncaught RangeError: Maximum call stack size exceeded`

Atom then gives unresponsive error and closing is the only way to get back to the app, so can not copy full trace, posting screenshot of the app and error message.

Not this was taken with latest Atom Beta(1.14.0-beta2)

[2017-01-25 03:59] piascikj commented on #207
So it looks like you weren't able to get a stack trace.  What OS are you on?

[2017-01-25 04:02] miklb commented on #207
Mac 10.12.3, but this was occurring before updating today.

[2017-01-25 23:02] piascikj commented on #207
Really having a hard time figuring this one out.  Is this in a project you can grant me access to?  Have you tried other projects?

[2017-01-25 23:13] miklb commented on #207
That was going to be next idea. I'm starting a new project based off the work in the repo I was having an issue with, so will try with a fresh project without a bunch of nested directories to see if I can narrow down the issue.

I really want to get this working and be able to use it.

[2017-01-26 15:17] piascikj opened #208 "Only close an issue if all attached tasks are in the same list"
Issue created with imdone.io

----

TODO: Make the +enhancement to only close an issue if all attached tasks are in the same list id:66
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 15:20] piascikj commented on #208
----

TODO: Make the +enhancement to only close an issue if all attached tasks are in the same list id:66 gh:208
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 15:27] piascikj commented on #208
----

TODO: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 15:28] piascikj commented on #208
----

DOING: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 15:30] piascikj commented on #208
----

TODO: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 15:31] piascikj opened #209 "When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded."
Issue created with imdone.io

----

TODO: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69
[**plan/plan-imdone.md:25**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L25)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdon

[2017-01-26 16:06] piascikj commented on #209
----

BACKLOG: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69 gh:209
[**plan/plan-imdone.md:25**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L25)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 16:55] piascikj commented on #209
----

DOING: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69 gh:209
[**plan/plan-imdone.md:25**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L25)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-26 22:43] peterwilli commented on #207
I have the same problem on Ubuntu, blocks the GUI entirely, I also have big folders added to imdoneignore. It says that it's scanning 932 files.

[2017-01-26 22:49] peterwilli commented on #207
I have the same issue, it says it's trying to scan 932 files. Here is my stack trace (snipped because it was unusually long)

[code]

[2017-01-26 22:51] miklb commented on #207
@piascikj I tried with a new, small project and works like a charm, so definitely a problem with scanning a big project, ignores or not. Wondering if I can limit the scan to just TODO, as in my case, I don't see using any other tags.

[2017-01-26 22:51] piascikj commented on #207
That's interesting.  How many files are there in your project folder?

Can you both run this command in your projects directory and send me the output?
[code]

[2017-01-26 22:56] miklb commented on #207
[code]
Doesn't play nice in macOS

[2017-01-26 22:58] piascikj commented on #207
I might have a fix for this.  Seems I'm trying to run a stat on up to 1024 files at one time.  Let me cut that back to about 256.

[2017-01-26 23:03] piascikj commented on #207
ok, ready to go!  2.1.4 has the new limit.  Let me know how it works

[2017-01-26 23:05] piascikj commented on #207
@peterwilli Thanks for the stack trace

[2017-01-26 23:06] miklb commented on #207
OK, give me a minute. Need to sign up for paid account 😉

[2017-01-26 23:24] miklb commented on #207
No dice. Same call stack size error and locking up.

[2017-01-26 23:25] piascikj commented on #207
ok, were you able to get a stack trace?

[2017-01-26 23:30] miklb commented on #207
It's huge, but this seems to be the relevant part (almost like it repeats in the trace…)
[code]

[2017-01-26 23:48] piascikj commented on #207
Try 2.1.15.  I reduced the async limit to 10.  If that doesn't work, I have a couple more things to try.

['Maximum call stack size exceeded' using async.forEachLimit · Issue #75 · caolan/async](https://github.com/caolan/async/issues/75)

Or maybe we can do a live debug session later.  I have to run out to the grocery.

[2017-01-26 23:50] miklb commented on #207
Related #78

[2017-01-26 23:54] miklb commented on #207
[code]
End
[code]
2.1.15

[2017-01-27 06:32] piascikj commented on #207
OK, I fixed up the error handling on the isBinary check in [imdone-core/repo-fs-store.js](https://github.com/imdone/imdone-core/blob/master/lib/mixins/repo-fs-store.js#L115).  It's now async and just returning false on error.  Give 2.1.16 a try and let me know what happens.  Thanks for your business @miklb!

[2017-01-27 15:29] hazrpg opened #210 "Unable to update (or even uninstall then install) the latest version"
I'm currently unable to install or re-install the current version (2.1.16) of imdone-atom. I originally tried to update from 2.0.19.

Here's what I get:

[code]

I would attach `/tmp/apm-install-dir-117027-11421-7tq09y/npm-debug.log` but it didn't exist.

I should also point out that it doesn't matter if I run an update/install from Atom or if I do it via the terminal.

My system details:
[code]

[2017-01-27 15:35] ajb3ck commented on #210
Same error, while trying to do a clean install of iamdone-atom

The referenced log file is also not available.

macOS 10.12.2
Atom 1.13.1

[code]

[2017-01-27 15:40] hazrpg commented on #210
I'm so glad this isn't just me, or the operating system I'm using!

[2017-01-27 15:57] piascikj commented on #210
Wow guys.  I screwed that one up.  I forgot to publish the change to imdone-core on npm.  2.1.16 should install without a hitch.  Let me know how it works.

[2017-01-27 17:11] miklb commented on #207
Unfortunately that didn't resolve the issue. This particular project has a lot of binary files and isn't a priority. I've actually spun out the part that I'm working on into a new repo and it works fine there.

Going forward, I will watch bigger projects and perhaps getting ahead of all of non-code elements in the ignore files will help.

Unfortunately, it's a private repo that I wouldn't have opp

[2017-01-27 17:22] piascikj commented on #207
ok, that sounds like a good idea.  I'll also try testing with more binary files.

[2017-01-27 17:36] piascikj commented on #208
----

TODO: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208 +imdone
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-27 17:48] piascikj commented on #209
----

TODO: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69 gh:209
[**plan/plan-imdone.md:25**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L25)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-27 17:49] piascikj commented on #208
----

BACKLOG: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208 +imdone
[**plan/plan-imdone.md:19**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone.md#L19)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-27 20:39] piascikj commented on #208
----

BACKLOG: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208 +imdone
[**plan/plan-imdone-2017-1-23.md:22**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-23.md#L22)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-27 20:39] piascikj commented on #209
----

TODO: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69 gh:209
[**plan/plan-imdone-2017-1-23.md:28**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-23.md#L28)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-29 17:05] kofronpi commented on #78
I have the same issue and it makes atom crash.

[2017-01-30 18:35] #210 closed

[2017-01-30 18:37] piascikj commented on #207
I just published another release to simplify the binary check.  Let me know if it helps.  This one is tough for me, since I'm unable to reproduce it.

[2017-01-31 18:52] piascikj commented on #209
----

TODO: When a user signs in from imdone-atom give them a confirmation box that asks if they want to start tracking TODOs on GitHub for the project they have loaded. +enhancement id:69 gh:209
[**plan/plan-imdone-2017-1-30.md:29**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L29)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-31 18:52] piascikj commented on #208
----

BACKLOG: Make the +enhancement to only close an issue if all attached tasks are in the same list. id:66 gh:208 +imdone
[**plan/plan-imdone-2017-1-30.md:23**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L23)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-31 18:58] piascikj opened #211 "Create keen events for auth and sync attempts"
Issue created with imdone.io

----

TODO: Create keen events for auth and sync attempts id:78 +enhancement
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-31 18:59] piascikj commented on #211
----

TODO: Create keen events for auth and sync attempts. id:78 +enhancement gh:211
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-31 19:00] piascikj commented on #211
----

TODAY: Create keen events for auth and sync attempts. id:78 +enhancement gh:211
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-01-31 19:00] piascikj commented on #211
----

TODO: Create keen events for auth and sync attempts. id:78 +enhancement gh:211
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-02-01 06:39] piascikj commented on #211
----

DOING: Create keen events for auth and sync attempts. id:78 +enhancement gh:211
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-02-03 06:23] piascikj commented on #211
----

DOING: Create keen events for auth and sync attempts. id:78 +enhancement gh:211 +imdone +work
[**plan/plan-imdone-2017-1-30.md:15**](https://github.com/imdone/imdone-atom/blob/null/plan/plan-imdone-2017-1-30.md#L15)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-02-04 20:25] semka commented on #68
Really miss this feature

[2017-02-07 18:16] philoserf commented on #175
Perhaps a look at atom's _automatic translation_ code. That term suggests that they are not just using deprecated code paths.

[2017-02-08 19:43] victorperin opened #212 "Deprecated selector in `imdone-atom\styles\imdone-atom.less`"
In `imdone-atom\styles\imdone-atom.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selec

[2017-02-10 10:28] jneuendorf commented on #58
I get a similar error:

[Enter steps to reproduce below:]

1. Start atom

**Atom Version:** 1.14.1 x64
**System:** "macOS Sierra"
**Thrown From:** imdone-atom package, v2.1.18

### Stacktrace

[code]

### Config

[code]

### Installed Packages

[code]

[2017-02-14 11:15] UtamaruMonster commented on #207
Same problem:
Big project, error on config.js:699.
Atom: 1.14.1
OS: macOS 10.12.3
imdone-atom: 2.1.18
event if i use .imdoneignore, finds 8 files but same error

[2017-02-15 15:56] peterwilli commented on #207
@piascikj I just updated to the latest imdone and atom version on Ubuntu, it gives me the same error, it seems. I added 2 shots so you can tell by yourself.

I'm interested in why you can't reproduce, what kind of system are you running? I'm using Ubuntu with SSD which should be fast enough to can 600+ files.
![screenshot from 2017-02-15 16 55 18](https://cloud.githubusercontent.com/assets/1212814

[2017-02-16 08:33] plashal opened #213 "Uncaught TypeError: plugin.projectButtons is not a function"
[Enter steps to reproduce:]

1. right-clicking in the tree view,
2. don't know if i did anything out the ordinary

**Atom**: 1.14.2 ia32
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [imdone-atom](https://github.com/imdone/imdone-atom) package 2.1.18

### Stack Trace

Uncaught TypeError: plugin.projectButtons is not a function

[code]

### Commands

[code]

### Non-Core Pa

[2017-02-21 16:17] natecox opened #214 "feature request: plugins for other editors."
I love the idea here, but I don't really want to be stuck on Atom to use imdone. Atom is nice and all, but it's not always the best solution; e.g., I use pyCharm for Python/Django and emacs for elixir/Phoenix.

Is there any intention of implementing this elsewhere?